F.A.Q. (Frequently Asked Questions)
<!-- Remember: the first line always goes with the title-->

<p>JEMMA - Java Energy ManageMent Application framework.</p>

<strong>Page under construction</strong>
