.CommunityTitolo {
	position: absolute;
	top: 3%;
	left: 2%;
	width: 50%;
	height: 8%;
	text-align: left;
	font-size: 1.4em;
	font-weight: bold;
	color: #f0f0f0;
}

#Forum {
	position: absolute;
	top: 20%;
	left: 10%;
	width: 80%;
	height: 20%;
	font-size: 1.2em;
	font-weight: bold;
	color: #f0f0f0;
}

#ForumHref {
	position: absolute;
	top: 65%;
	left: 35%;
	width: 30%;
	height: 10%;
	font-weight: bold;
	color: #f0f0f0;
	border: solid 2px #8cf208;
	border-radius: 4px;
	-moz-border-radius: 4px; /* firefox */
	-webkit-border-radius: 4px; /* safari, chrome */
	padding-top: 3%;
}