* {
}
a {
    -moz-tap-highlight-color: rgba(0,0,0,0);
}

div#jqt {
    /*overflow-x: hidden;*/
    -moz-user-select: none;
    -moz-text-size-adjust: none;
    -moz-perspective: 800;
    -moz-transform-style: preserve-3d;
}
#jqt .selectable, #jqt input, #jqt textarea {
    -moz-user-select: auto;
}
div#jqt > * {
    -moz-backface-visibility: hidden;
    -moz-box-sizing: border-box;
    -moz-transform: translate3d(0,0,0) rotate(0) scale(1);
}

#jqt .in, #jqt .out {
	-moz-animation-timing-function: ease-in-out;
	-moz-animation-duration: 350ms;
}

#jqt .slide.in {
	-moz-animation-name: slideinfromright;
}

#jqt .slide.out {
	-moz-animation-name: slideouttoleft;
}

#jqt .slide.in.reverse {
	-moz-animation-name: slideinfromleft;
}

#jqt .slide.out.reverse {
	-moz-animation-name: slideouttoright;
}

@-moz-keyframes slideinfromright {
    from { -moz-transform: translateX(100%); }
    to { -moz-transform: translateX(0); }
}

@-moz-keyframes slideinfromleft {
    from { -moz-transform: translateX(-100%); }
    to { -moz-transform: translateX(0); }
}

@-moz-keyframes slideouttoleft {
    from { -moz-transform: translateX(0); }
    to { -moz-transform: translateX(-100%); }
}

@-moz-keyframes slideouttoright {
    from { -moz-transform: translateX(0); }
    to { -moz-transform: translateX(100%); }
}

@-moz-keyframes fadein {
    from { opacity: 0; }
    to { opacity: 1; }
}

@-moz-keyframes fadeout {
    from { opacity: 1; }
    to { opacity: 0; }
}

#jqt .fade.in {
	z-index: 10;
	-moz-animation-name: fadein;
}
#jqt .fade.out {
	z-index: 0;
}

#jqt .dissolve.in {
	-moz-animation-name: fadein;
}

#jqt .dissolve.out {
	-moz-animation-name: fadeout;	
}



#jqt .flip {
	-moz-animation-duration: .65s;
}

#jqt .flip.in {
	-moz-animation-name: flipinfromleft;
}

#jqt .flip.out {
	-moz-animation-name: flipouttoleft;
}

/* Shake it all about */

#jqt .flip.in.reverse {
	-moz-animation-name: flipinfromright;
}

#jqt .flip.out.reverse {
	-moz-animation-name: flipouttoright;
}

@-moz-keyframes flipinfromright {
    from { -moz-transform: rotateY(-180deg) scale(.8); }
    to { -moz-transform: rotateY(0) scale(1); }
}

@-moz-keyframes flipinfromleft {
    from { -moz-transform: rotateY(180deg) scale(.8); }
    to { -moz-transform: rotateY(0) scale(1); }
}

@-moz-keyframes flipouttoleft {
    from { -moz-transform: rotateY(0) scale(1); }
    to { -moz-transform: rotateY(-180deg) scale(.8); }
}

@-moz-keyframes flipouttoright {
    from { -moz-transform: rotateY(0) scale(1); }
    to { -moz-transform: rotateY(180deg) scale(.8); }
}

#jqt .slideup.in {
	-moz-animation-name: slideup;
}

#jqt .slideup.out {
	-moz-animation-name: dontmove;
}

#jqt .slideup.out.reverse {
	-moz-animation-name: slidedown;
}

#jqt .slideup.in.reverse {
	-moz-animation-name: dontmove;
}


@-moz-keyframes slideup {
    from { -moz-transform: translateY(100%); }
    to { -moz-transform: translateY(0); }
}

@-moz-keyframes slidedown {
    from { -moz-transform: translateY(0); }
    to { -moz-transform: translateY(100%); }
}



/* Hackish, but reliable. */

@-moz-keyframes dontmove {
    from { opacity: 1; }
    to { opacity: 1; }
}

#jqt .swap {
	-moz-transform: perspective(800);
	-moz-animation-duration: .7s;
}
#jqt .swap.out {
	-moz-animation-name: swapouttoleft;
}
#jqt .swap.in {
	-moz-animation-name: swapinfromright;
}
#jqt .swap.out.reverse {
	-moz-animation-name: swapouttoright;
}
#jqt .swap.in.reverse {
	-moz-animation-name: swapinfromleft;
}


@-moz-keyframes swapouttoright {
    0% {
        -moz-transform: translate3d(0px, 0px, 0px) rotateY(0deg);
        -moz-animation-timing-function: ease-in-out;
    }
    50% {
        -moz-transform: translate3d(-180px, 0px, -400px) rotateY(20deg);
        -moz-animation-timing-function: ease-in;
    }
    100% {
        -moz-transform:  translate3d(0px, 0px, -800px) rotateY(70deg);
    }
}

@-moz-keyframes swapouttoleft {
    0% {
        -moz-transform: translate3d(0px, 0px, 0px) rotateY(0deg);
        -moz-animation-timing-function: ease-in-out;
    }
    50% {
        -moz-transform:  translate3d(180px, 0px, -400px) rotateY(-20deg);
        -moz-animation-timing-function: ease-in;
    }
    100% {
        -moz-transform: translate3d(0px, 0px, -800px) rotateY(-70deg);
    }
}

@-moz-keyframes swapinfromright {
    0% {
        -moz-transform: translate3d(0px, 0px, -800px) rotateY(70deg);
        -moz-animation-timing-function: ease-out;
    }
    50% {
        -moz-transform: translate3d(-180px, 0px, -400px) rotateY(20deg);
        -moz-animation-timing-function: ease-in-out;
    }
    100% {
        -moz-transform: translate3d(0px, 0px, 0px) rotateY(0deg);
    }
}

@-moz-keyframes swapinfromleft {
    0% {
        -moz-transform: translate3d(0px, 0px, -800px) rotateY(-70deg);
        -moz-animation-timing-function: ease-out;
    }
    50% {
        -moz-transform: translate3d(180px, 0px, -400px) rotateY(-20deg);
        -moz-animation-timing-function: ease-in-out;
    }
    100% {
        -moz-transform: translate3d(0px, 0px, 0px) rotateY(0deg);
    }
}

#jqt .cube {
    -moz-animation-duration: .55s;
}

#jqt .cube.in {
	-moz-animation-name: cubeinfromright;
    -moz-transform-origin: 0% 50%;
}
#jqt .cube.out {
	-moz-animation-name: cubeouttoleft;
    -moz-transform-origin: 100% 50%;
}
#jqt .cube.in.reverse {
	-moz-animation-name: cubeinfromleft;	
    -moz-transform-origin: 100% 50%;
}
#jqt .cube.out.reverse {
	-moz-animation-name: cubeouttoright;
    -moz-transform-origin: 0% 50%;

}

@-moz-keyframes cubeinfromleft {
	from {
        -moz-transform: rotateY(-90deg) translateZ(320px);
        opacity: .5;
	}
    to {
        -moz-transform: rotateY(0deg) translateZ(0);
        opacity: 1;
    }
}
@-moz-keyframes cubeouttoright {
    from {
        -moz-transform: rotateY(0deg) translateX(0);
        opacity: 1;
    }
    to {
        -moz-transform: rotateY(90deg) translateZ(320px);
        opacity: .5;
    }
}
@-moz-keyframes cubeinfromright {
    from {
        -moz-transform: rotateY(90deg) translateZ(320px);
        opacity: .5;
    }
    to {
        -moz-transform: rotateY(0deg) translateZ(0);
        opacity: 1;
    }
}
@-moz-keyframes cubeouttoleft {
    from {
        -moz-transform: rotateY(0deg) translateZ(0);
        opacity: 1;
    }
    to {
        -moz-transform: rotateY(-90deg) translateZ(320px);
        opacity: .5;
    }
}




#jqt .pop {
	-moz-transform-origin: 50% 50%;
}

#jqt .pop.in {
	-moz-animation-name: popin;
	z-index: 10;
}

#jqt .pop.out.reverse {
	-moz-animation-name: popout;
	z-index: 10;
}

#jqt .pop.in.reverse {
	z-index: 0;
	-moz-animation-name: dontmove;
}

@-moz-keyframes popin {
    from {
        -moz-transform: scale(.2);
        opacity: 0;
    }
    to {
        -moz-transform: scale(1);
        opacity: 1;
    }
}

@-moz-keyframes popout {
    from {
        -moz-transform: scale(1);
        opacity: 1;
    }
    to {
        -moz-transform: scale(.2);
        opacity: 0;
    }
}
