
#Elettrodomestici{
    width: 85%;
    /*min-width: 800px;*/
    height: 75%;
    min-height: 300px;
    padding: 10px;
    background-color: #333;
    font-family: Arial, sans-serif;
    font-size: 1vw;
    position: relative;
    top: 4%;
    float: right;
    text-align: left;
    right: 2%;
    margin-left: auto;
    margin-right: auto;
}    

#RigaElettrodomestici{
    background-color: #202020;
    width: 100%;
    /*min-width: 790px;*/
    height: 40%;
    margin:0;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    display:block;
    overflow: hidden;
}
#RigaPulsanti{
    width: 100%;
    /*min-width: 790px;*/
    height: 20px;
    margin:0;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    /*margin-top: 5px;*/
    background-color: #202020;
    padding-bottom: 5px;
    
}

#RigaPulsanti .btn{
    width: 50px;
    height: 100%;
    display: block;
    cursor: pointer;
}
#RigaPulsanti .btn img{
    width: auto;
    height: 100%;
    display: block;
}

#RigaPulsanti .btn#indietro{
    float: left;
    background-image: url("btn_prev.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-origin: content-box;
    margin-left: 5px;
}
#RigaPulsanti .btn#indietro:hover{
    background-image: url("btn_prev_h.png");
}
#RigaPulsanti .btn#indietro:active{
    background-image: url("btn_prev_d.png");
}
#RigaPulsanti .btn#avanti{
    float: right;
    background-image: url("btn_next.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-origin: content-box;
    margin-right: 5px;
}
#RigaPulsanti .btn#avanti:hover{
    background-image: url("btn_next_h.png");
}
#RigaPulsanti .btn#avanti:active{
    background-image: url("btn_next_d.png");
}
#RigaInterfaccia{
    
    width: 100%;
    /*min-width: 790px;*/
    height: 60%;
    margin:0;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    
}

.Elettrodomestico{
    height: 100%;
    /*width: 12.5%;*/
    width: 15%;
    float: left;
    
}

.DatiElettrodomestico{
    height: 90%;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
}

.NomeElettrodomestico{
    display: table;
    width: 100%;
    height: 10%;
    /*padding-bottom: 4%;*/
    vertical-align: middle;
    text-align: center;
    font-size: 100%;
    background-color: #808080;
    color: #fff;
    font-weight: bolder;

    
}

.NomeElettrodomestico .titolo{
    /*display: table-cell;*/
    vertical-align: middle;
    overflow: hidden;
    max-height: 1.1em;
}

.Elettrodomestico.ON .NomeElettrodomestico{
     background-color: #9cc31c;
     color: #000;
}

.Elettrodomestico.ONOFF .NomeElettrodomestico{
     background-color: #9cc31c;
     color: #000;
}

.Elettrodomestico.ON .DatiElettrodomestico, .Elettrodomestico.OFF .DatiElettrodomestico{
    cursor: pointer;
}

.Elettrodomestico.ONOFF .DatiElettrodomestico, .Elettrodomestico.OFFON .DatiElettrodomestico{
    cursor: pointer;
}

.Elettrodomestico.ON:hover .DatiElettrodomestico,.Elettrodomestico.OFF:hover .DatiElettrodomestico{
    background-color: #252525;
    /*border: 2px #000 solid;*/
}

.Elettrodomestico.ONOFF:hover .DatiElettrodomestico,.Elettrodomestico.OFFON:hover .DatiElettrodomestico{
    background-color: #252525;
    /*border: 2px #000 solid;*/
}

.Elettrodomestico.OFF .NomeElettrodomestico{
     background-color: #808080;
     color: #fff;
}

.Elettrodomestico.OFFON .NomeElettrodomestico{
     background-color: #808080;
     color: #fff;
}

.Elettrodomestico.NONPRESENTE .NomeElettrodomestico{
     background-color: #1a1a1a;
     color: #4d4d4d;
}

.IconaElettrodomestico{
    width: 100%;
    height: 60%;
   
}

.Elettrodomestico.ON .IconaElettrodomestico{
    background-image: url("bg_icon_blue.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-origin: content-box;
    
}

.Elettrodomestico.ONOFF .IconaElettrodomestico{
    background-image: url("bg_icon_blue.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-origin: content-box;
    
}

.Elettrodomestico.OFF .IconaElettrodomestico{
    background-image: url("bg_icon_gray.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-origin: content-box;
}

.Elettrodomestico.OFFON .IconaElettrodomestico{
    background-image: url("bg_icon_gray.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-origin: content-box;
}

.IconaElettrodomestico img{
    margin-left: auto;
    margin-right: auto;
    height: 90%;
    display: block;
    width: auto;
}

.StatoElettrodomestico{
    width: 100%;
    height: 30%;
    background-color: #000;
    
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1a1a1a', endColorstr='#000000'); 
    background: -webkit-gradient(linear, left top, left bottom, from(#1a1a1a), to(#000)); 
    background: -moz-linear-gradient(top,  #1a1a1a,  #000); 

    color: #808080;
    font-weight: bold;
    
    /*padding-top:5%;*/
}
.StatoElettrodomestico .row{
    display: block;
    height: 30%;
    width: 90%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    /*padding-top: 2%;*/
    top:10%;
    left:0px;
    
}
.StatoElettrodomestico .row .left{
    float: left;
    display: block;
    width: 60%;
    height: 98%;
    font-size: 1vw;
    overflow: hidden;
}
.StatoElettrodomestico .row .right{
    float: left;
    width: 40%;
    text-align: right;
    height: 98%;
    color: #fff;
    overflow: hidden;
}


.StatoElettrodomestico .row.posizione .left{
    width: 10%;
}
.StatoElettrodomestico .row.posizione .right{
    width: 90%;
    text-align: right;
}

.StatoElettrodomestico .row.posizione .left img{
    margin-left: auto;
    margin-right: auto;
    height: 80%;
    max-height: 15px;
    width: auto;
}

.StatoElettrodomestico .row.posizione .left .t{
    margin-left: 2px;

}

.Elettrodomestico.OFF .StatoElettrodomestico .row .right.stato{
    color: #800000;
}

.Elettrodomestico.OFFON .StatoElettrodomestico .row .right.stato{
    color: #008000;
}

.Elettrodomestico.ON .StatoElettrodomestico .row .right.stato{
    color: #008000;
}

.Elettrodomestico.ONOFF .StatoElettrodomestico .row .right.stato{
    color: #800000;
}

.Elettrodomestico.NONPRESENTE .StatoElettrodomestico .row, .Elettrodomestico.NONPRESENTE .StatoElettrodomestico .row .right{
    color: #2a2a2a;
}


#Interfaccia{
    display: block;
    float: left;
    background-color: #1a1a1a;
    position: relative;
    top: 5%;
    margin-left: 1%;
    height: 90%;
    width: 70%;
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    
    background-image: url("bg_info.png");
    background-repeat: repeat-x;
    background-size: auto 100%;
    background-origin: content-box;
    color:#fff;
    
}

#Interfaccia .header{
    display: block;
    height: 15%;
    width: 100%;
    margin-left: auto;
    margin-right: auto;

}
#Interfaccia .header .titolo{
    text-align: left;
    display: block;
    width: 95%;
    float: left;
    
    padding-left: 5%;
    font-size: x-large;
    position: relative;
    top: 20%;
    color: #808080;
    /*border-bottom: 2px solid #333;*/
}

#Interfaccia .content{
    display: block;
    width: 90%;
    height: 85%;
    margin-left: auto;
    margin-right: auto;
}

#RiepilogoConsumi{
    display: block;
    float: left;
    background-color: #1a1a1a;
    position: relative;
    top: 5%;
    height: 90%;
    width: 29%;
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    
    background-image: url("bg_info.png");
    background-repeat: repeat-x;
    background-size: auto 100%;
    background-origin: content-box;
    color:#fff;
    
    overflow: hidden;
    
}

#RiepilogoConsumi .header{
    display: block;
    height: 50%;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
#RiepilogoConsumi .header .titolo{
    text-align: left;
    display: block;
    width: 95%;
    float: left;
    
    padding-left: 5%;
    font-size: x-large;
    position: relative;
    top: 7%;
    color: #808080;
    /*border-bottom: 2px solid #333;*/
}
#RiepilogoConsumi .content{
    display: table;
    width: 90%;
    height: 50%;
    margin-left: auto;
    margin-right: auto;
}
    
#RiepilogoConsumi .content .row{
    display: table-row;
    padding-left: 20px;
    
}
#RiepilogoConsumi .content .row.small{
    color: #b3b3b3;
    font-size: large;
}
#RiepilogoConsumi .content .row.big{
    color: #fff;
    font-size: large;
    font-weight: bold;
}
#RiepilogoConsumi .content .cell{
    display: table-cell;
    vertical-align: middle;
    /*padding-left: 20px;*/
    
}
#RiepilogoConsumi .content .cell.right{
    text-align: right;
}


#Elettrodomestici .el-spinner{
    background-color: none;
    display: block;
    position: absolute;
    top:0px;
    left:0px;
    width:1px;
    height: 1px;
    z-index: 1500;
    background-image: url("5-1.gif");
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

#debug{
    font-size: large;
    color: #fff;
}