#ifBase{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    color: #808080;
    display: block;
}

#ifBase .row1{
    display: table-row;
    
}
#ifBase .col{
    display: block;
    height: 100%;
    vertical-align: top;
    float: left;
    
}

#ifBase .col.lborder{
    border-left: 1px solid #000;
}
#ifBase .left-box{
    position: relative;
    height: 100%;
    background:none;

}


#ifBase .left-box .icona, #ifBase .left-box .icona.NP{
    margin-left: auto;
    margin-right: auto;
    min-width: 50px;
    min-height: 50px;
    height: 70%;
    width: 100%;
/*    position: absolute;*/
    z-index: 20;
    top: 0px;
    left:0px;
    
    background-image: none;
    
}


#ifBase .left-box .icona.ON {
    background-image: url("bg_icon_blue.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-origin: content-box;
    
}

#ifBase .left-box .icona.OFF {
    background-image: url("bg_icon_gray.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-origin: content-box;
    
}
#ifBase .left-box .icona img{
    margin-left: auto;
    margin-right: auto;
    height: 90%;
    display: block;
    width: auto;
}

#ifBase .left-box .maschera img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    width: 100%;
    position: absolute;
}

#ifBase .StatoElettrodomestico{
    display: block;
    width: 100%;
    height: 30%;           
    filter: none;
    background: none;
    background-color: #000;
    /*position: absolute;*/
    top:70%;
}

#ifBase  .inline{
    float: left;
    display: block;
}
 #ifBase  .btnToggle{
    width:50px;
    height: 22px;
    max-height: 22px;
    cursor: pointer;
}
#ifBase  .btnToggle.ON{
    background-image: url("toggle_on.png");
    background-size: 100% 100%;
}
#ifBase  .btnToggle.OFF{
    background-image: url("toggle_off.png");
    background-size: 100% 100%;
}

#ifBase  .btnToggle.NP{
    background-image: none;
    color: #808080;
    font-size: large;
    cursor: default;
}

#ifBase  .label{
    display: block;
    font-size: large;
}

#ifBase  .dato{
    display: block;
    font-size: large;
    font-weight: bold;
    color: #ccc;
}

#ifBase  .right{
    float: right;
    
}

#ifBase  #OnOffControl{
    width: 90%;
    height: 20%;
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}
#ifBase  #LevelControl{
    width: 90%;
    height: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#ColorControl{
    display: block;
    width:80%;
    height: 70%;
    margin-left:auto;
    margin-right: auto;
    
}
#picker{
    width: 100%;
    height: 100%;
}


#ifBase .line{
    display: block;
    height: 30px;
    width: 100%;
    
}