#ifLampadaMac{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    color: #808080;
    display: block;
}

#ifLampadaMac .row1{
    display: block;
    height: 100%;
    width: 100%;
    
}
#ifLampadaMac .col{
    display: block;
    height: 100%;
    vertical-align: top;
    float: left;
    
}

#ifLampadaMac .col.lborder{
    border-left: 1px solid #000;
}
#ifLampadaMac .left-box{
    position: relative;
    height: 100%;
    background: none;
}

#ifLampadaMac .left-box .bg {
    margin-left: auto;
    margin-right: auto;
    min-width: 50px;
    min-height: 50px;
    z-index: 10;
    width: 100%;
    height: 70%;
    background-color: #FFD000;
    /*position: absolute;*/
    z-index: 10;
    top: 0px;
    left:0px;
}
#ifLampadaMac .left-box .maschera {
    margin-left: auto;
    margin-right: auto;
    min-width: 50px;
    min-height: 50px;
    height: 100%;
    width: 100%;
    /*position: absolute;*/
    z-index: 20;
    top: 0px;
    left:0px;
}
#ifLampadaMac .left-box  img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    width: 100%;
    /*position: absolute;*/
}

#ifLampadaMac .left-box .row.posizione img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    width: auto;
    /*position: absolute;*/
}

#ifLampadaMac .StatoElettrodomestico{
    display: block;
    width: 100%;
    height: 30%;           
    filter: none;
    background: none;
    background-color: #000;
    /*position: absolute;*/
    top:70%;
}

#ifLampadaMac  .inline{
    float: left;
    display: block;
}
 #ifLampadaMac  .btnToggle{
    width:50px;
    height: 22px;
    max-height: 22px;
    cursor: pointer;
}
#ifLampadaMac  .btnToggle.ON{
    background-image: url("toggle_on.png");
    background-size: 100% 100%;
}
#ifLampadaMac  .btnToggle.OFF{
    background-image: url("toggle_off.png");
    background-size: 100% 100%;
}
#ifLampadaMac  .btnToggle.NP{
    background-image: none;
    color: #808080;
    font-size: large;
    cursor: default;
}

#ifLampadaMac  .label{
    display: block;
    font-size: large;
}

#ifLampadaMac  .dato{
    display: block;
    font-size: large;
    font-weight: bold;
    color: #ccc;
}

#ifLampadaMac  .right{
    float: right;
    
}

#ifLampadaMac  #OnOffControl{
    width: 90%;
    height: 20%;
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}
#ifLampadaMac  #LevelControl{
    width: 90%;
    height: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#ifLampadaMac #ColorControl{
    display: block;
    width:65%;
    height: 70%;
    margin-left:auto;
    margin-right: auto;
    
}
#ifLampadaMac #picker{
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

#ifLampadaMac #picker .overlay{
   background-image: none;
   cursor: default;
   
}
#ifLampadaMac #picker .sl-marker{
   display: none;
   
}

#ifLampadaMac .line{
    display: block;
    height: 30px;
    width: 100%;
    
}
.t{float:left}