#ifLampada{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    color: #808080;
    display: block;
}

#ifLampada .row1{
    display: block;
    height: 100%;
    width: 100%;
    
}
#ifLampada .col{
    display: block;
    height: 100%;
    vertical-align: top;
    float: left;
    
}

#ifLampada .col.lborder{
    border-left: 1px solid #000;
}
#ifLampada .left-box{
    position: relative;
    height: 100%;
    background: none;
}

#ifLampada .left-box .bg {
    margin-left: auto;
    margin-right: auto;
    min-width: 50px;
    min-height: 50px;
    z-index: 10;
    width: 100%;
    height: 70%;
    background-color: #FFD000;
    /*position: absolute;*/
    z-index: 10;
    top: 0px;
    left:0px;
}
#ifLampada .left-box .maschera {
    margin-left: auto;
    margin-right: auto;
    min-width: 50px;
    min-height: 50px;
    height: 100%;
    width: 100%;
    /*position: absolute;*/
    z-index: 20;
    top: 0px;
    left:0px;
}
#ifLampada .left-box  img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    width: 100%;
    /*position: absolute;*/
}

#ifLampada .left-box .row.posizione img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    width: auto;
    /*position: absolute;*/
}

#ifLampada .StatoElettrodomestico{
    display: block;
    width: 100%;
    height: 30%;           
    filter: none;
    background: none;
    background-color: #000;
    /*position: absolute;*/
    top:70%;
}

#ifLampada  .inline{
    float: left;
    display: block;
}
 #ifLampada  .btnToggle{
    width:50px;
    height: 22px;
    max-height: 22px;
    cursor: pointer;
}
#ifLampada  .btnToggle.ON{
    background-image: url("toggle_on.png");
    background-size: 100% 100%;
}
#ifLampada  .btnToggle.OFF{
    background-image: url("toggle_off.png");
    background-size: 100% 100%;
}
#ifLampada  .btnToggle.NP{
    background-image: none;
    color: #808080;
    font-size: large;
    cursor: default;
}

 #ifLampada  .btnSync{
    width:50px;
    height: 22px;
    max-height: 22px;
    cursor: pointer;
}
#ifLampada  .btnSync{
    background-image: url("sync.png");
    background-size: 100% 100%;
}
#ifLampada  .btnSync:active{
    background-image: url("sync.png");
    background-size: 100% 100%;
}
#ifLampada  .btnSync.NP{
    background-image: none;
    color: #808080;
    font-size: large;
    cursor: default;
}

#ifLampada  .label{
    display: block;
    font-size: large;
}

#ifLampada  .dato{
    display: block;
    font-size: large;
    font-weight: bold;
    color: #ccc;
}

#ifLampada  .right{
    float: right;
    
}

#ifLampada  #OnOffControl{
    width: 90%;
    height: 20%;
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}
#ifLampada  #SyncControl{
    width: 90%;
    height: 20%;
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}
#ifLampada  #LevelControl{
    width: 90%;
    height: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#ifLampada #ColorControl{
    display: block;
    width:80%;
    height: 70%;
    margin-left:auto;
    margin-right: auto;
    
}
#ifLampada #picker{
    width: 100%;
    height: 100%;
}


#ifLampada .line{
    display: block;
    height: 30px;
    width: 100%;
    
}
.t{float:left}