#ifLockDoor{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    color: #808080;
    display: block;
}

#ifLockDoor .row1{
    display: table-row;
    
}
#ifLockDoor .col{
    display: block;
    height: 100%;
    vertical-align: top;
    float: left;
    
}

#ifLockDoor .col.lborder{
    border-left: 1px solid #000;
}
#ifLockDoor .left-box{
    position: relative;
    height: 100%;
    background:none;

}


#ifLockDoor .left-box .icona, #ifLockDoor .left-box .icona.NP{
    margin-left: auto;
    margin-right: auto;
    min-width: 50px;
    min-height: 50px;
    height: 70%;
    width: 100%;
/*    position: absolute;*/
    z-index: 20;
    top: 0px;
    left:0px;
    
    background-image: none;
    
}


#ifLockDoor .left-box .icona.ON {
    background-image: url("bg_icon_blue.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-origin: content-box;
    
}

#ifLockDoor .left-box .icona.OFF {
    background-image: url("bg_icon_gray.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-origin: content-box;
    
}
#ifLockDoor .left-box .icona img{
    margin-left: auto;
    margin-right: auto;
    height: 90%;
    display: block;
    width: auto;
}

#ifLockDoor .left-box .maschera img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    width: 100%;
    position: absolute;
}

#ifLockDoor .StatoElettrodomestico{
    display: block;
    width: 100%;
    height: 30%;           
    filter: none;
    background: none;
    background-color: #000;
    /*position: absolute;*/
    top:70%;
}

#ifLockDoor  .inline{
    float: left;
    display: block;
}
 #ifLockDoor  .btnToggle{
    width:50px;
    height: 22px;
    max-height: 22px;
    cursor: pointer;
}
#ifLockDoor  .btnToggle.ON{
    background-image: url("toggle_on.png");
    background-size: 100% 100%;
}
#ifLockDoor  .btnToggle.OFF{
    background-image: url("toggle_off.png");
    background-size: 100% 100%;
}
#ifLockDoor  .btnToggle.OPEN{
    background-image: url("toggle_open.png");
    background-size: 100% 100%;
}
#ifLockDoor  .btnToggle.CLOSE{
    background-image: url("toggle_close.png");
    background-size: 100% 100%;
}

#ifLockDoor  .btnToggle.NP{
    background-image: none;
    color: #808080;
    font-size: large;
    cursor: default;
}

#ifLockDoor  .label{
    display: block;
    font-size: large;
}

#ifLockDoor  .dato{
    display: block;
    font-size: large;
    font-weight: bold;
    color: #ccc;
}

#ifLockDoor  .right{
    float: right;
    
}

#ifLockDoor  #OnOffControl{
    width: 90%;
    height: 20%;
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}
#ifLockDoor  #LevelControl{
    width: 90%;
    height: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#ColorControl{
    display: block;
    width:80%;
    height: 70%;
    margin-left:auto;
    margin-right: auto;
    
}
#picker{
    width: 100%;
    height: 100%;
}


#ifLockDoor .line{
    display: block;
    height: 30px;
    width: 100%;
    
}