#ifWindowCovering{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    color: #808080;
    display: block;
}

#ifWindowCovering .row1{
    display: table-row;
    
}
#ifWindowCovering .col{
    display: block;
    height: 100%;
    vertical-align: top;
    float: left;
    
}

#ifWindowCovering .col.lborder{
    border-left: 1px solid #000;
}
#ifWindowCovering .left-box{
    position: relative;
    height: 100%;
    background:none;

}


#ifWindowCovering .left-box .icona, #ifWindowCovering .left-box .icona.NP{
    margin-left: auto;
    margin-right: auto;
    min-width: 50px;
    min-height: 50px;
    height: 70%;
    width: 100%;
/*    position: absolute;*/
    z-index: 20;
    top: 0px;
    left:0px;
    
    background-image: none;
    
}


#ifWindowCovering .left-box .icona.ON {
    background-image: url("bg_icon_blue.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-origin: content-box;
    
}

#ifWindowCovering .left-box .icona.OFF {
    background-image: url("bg_icon_gray.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-origin: content-box;
    
}
#ifWindowCovering .left-box .icona img{
    margin-left: auto;
    margin-right: auto;
    height: 90%;
    display: block;
    width: auto;
}

#ifWindowCovering .left-box .maschera img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    width: 100%;
    position: absolute;
}

#ifWindowCovering .StatoElettrodomestico{
    display: block;
    width: 100%;
    height: 30%;           
    filter: none;
    background: none;
    background-color: #000;
    /*position: absolute;*/
    top:70%;
}

#ifWindowCovering  .inline{
    float: left;
    display: block;
}
 #ifWindowCovering  .btnToggle{
    width:50px;
    height: 22px;
    max-height: 22px;
    cursor: pointer;
}
#ifWindowCovering  .btnToggle.ON{
    background-image: url("toggle_on.png");
    background-size: 100% 100%;
}
#ifWindowCovering  .btnToggle.OFF{
    background-image: url("toggle_off.png");
    background-size: 100% 100%;
}
#ifWindowCovering  .btnToggle.OPEN{
    background-image: url("toggle_open.png");
    background-size: 100% 100%;
}
#ifWindowCovering  .btnToggle.CLOSE{
    background-image: url("toggle_close.png");
    background-size: 100% 100%;
}

#ifWindowCovering  .btnToggle.NP{
    background-image: none;
    color: #808080;
    font-size: large;
    cursor: default;
}

#ifWindowCovering  .label{
    display: block;
	font-size: 1.5vw;
    text-align: center;
}

#ifWindowCovering  .dato{
    display: block;
    font-size: large;
    font-weight: bold;
    color: #ccc;
}

#ifWindowCovering  .right{
    float: right;
    
}

#ifWindowCovering  #OnOffControl{
    width: 90%;
    height: 20%;
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}
#ifWindowCovering  #LevelControl{
    width: 90%;
    height: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#ColorControl{
    display: block;
    width:80%;
    height: 70%;
    margin-left:auto;
    margin-right: auto;
    
}
#picker{
    width: 100%;
    height: 100%;
}

.ButtonConf,.ButtonConfSmall {
	background-color: #809400;
	border: solid 1px #FFF;
	font-weight: bold;
	/*color: white;*/
	padding: 2px 10px;
}

input[type=button]:hover {
	background-color: #003300;
}

.ButtonConf {
	font-size: 1vw;
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	/*width: 20%;*/
}

.ButtonConfSmall {
	font-size: 0.8em;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	width: 6.0em;
}

#ifWindowCovering .line{
    display: block;
    height: 40px;
    width: 100%;
    
}