<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?>

<target sequenceNumber="8">
<locations>
<location path="${project_loc}/target/jemma.Distribution-0.1.0-bin/modules/dependencies" type="Directory"/>
</locations>
</target>
