#progress {
	position: absolute;
    z-index: 3;
    top: 0px;
    bottom: 0px;
  	margin-left: auto;
  	margin-right: auto;
  	margin-top: auto;
  	margin-bottom: auto;
}

.boxProgress {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
	background: rgba(255,255,255,1.0);
	font-family: Helvetica;
    color: white;
    font-size: 18px;
    font-weight: bold;
    height: 80px;
    left: 0px;
    right: 0px;
    line-height: 80px;
    text-align: center;
    width: 200px;
}

.imageProgress {
	-webkit-border-radius: 10px;
    -moz-border-radius: 10px;
  	background:  url('ajax-loader.gif') top left no-repeat;
	/* background-image: rgba(255,255,255,.3) url('ajax-loader.gif') top left no-repeat; */
    left: 0px;
    right: 0px;
    line-height: 80px;
    text-align: center;
    width: 58px;
    height: 60px;
}