
#DettaglioCosto {
	top:75%;
	font-size: 1.0em;	
}

/*
#DettaglioCostoOdierno {
	font-size: 1.0em;
}

#DettaglioCostoMensile {
	font-size: 1.0em;
}


#DettaglioConsumo {
	font-size: 1.0em;	
}


#DettaglioConsumoOdierno {
	font-size: 1.0em;
}

#DettaglioConsumoMensile {
	font-size: 1.0em;
}

#ValConsumoAttuale {
	top: 55%;
	font-size: 0.7em;
}
*/