.dialog {
	background-color: #e0e0e0;
	color: black;
	z-index: 4;
	border: solid 1px #ABD037;
	width: 350px;
	box-shadow: 0 0 4px 2px #222222;
}

.roundedBorders {
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
}

.dialog .bottomRoundedBorders {
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
	-moz-border-bottom-left-radius: 6px;
	-moz-border-bottom-right-radius: 6px;
	-webkit-border-bottom-left-radius: 6px;
	-webkit-border-bottom-right-radius: 6px;
}

.dialog .topRoundedBorders {
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	-moz-border-top-left-radius: 6px;
	-moz-border-top-right-radius: 6px;
	-webkit-border-top-left-radius: 6px;
	-webkit-border-top-right-radius: 6px;
}

.dialog .dialogTitle {
	padding: 5px 10px 5px 30px;
	text-align: left;
	font-size: 1.0em;
	color: white;
	background-color: black;
}

.dialog .dialogMessage {
	font-weight: normal;
	color: #ffffff;
	min-height: 40px;
	padding: 10px 10px 10px 70px;
	text-align: left;
	font-size: 1.0em;
	color: black;
}

.dialog .dialogButtonBar {
	padding: 10px 6px 10px 13px;
	background-color: green;
}

.dialog .dialogButtonBar input,.dialog .dialogButtonBar a {
	background-color: #94c200;
	font-size: 1.0em;
	font-weight: bold;
	color: white;
	min-width: 80px;
	_width: 80px;
	padding: 4px 10px;
	margin-right: 10px;
	text-align: center;
	border: solid 1px #ABD037;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}

.dialog .dialogButtonBar a {
	text-decoration: none;
	display: inline-block;
}

.dialog .dialogButtonBar input:hover,.dialog .dialogButtonBar a:hover {
	background-color: #003300;
}

.dialog .dialogMessage {
	background-repeat: no-repeat;
	background-position: 10px 10px;
}

.dialog .dialogMessage {
/* 	background-image: url('question.png') */
}