
#DettaglioCosto {
	font-size: 1.0em;	
}

#DettaglioCostoOdierno {
	font-size: 1.2em;
}

#DettaglioCostoMensile {
	font-size: 1.2em;
}

#DettaglioConsumo {
	font-size: 1.0em;	
}

#DettaglioConsumoOdierno {
	font-size: 1.2em;
}

#DettaglioConsumoMensile {
	font-size: 1.2em;
}

#ValConsumoAttuale {
	position: absolute;
	top: 55%;
	font-size: 1.0em;
}

#TariffaPrincipale {
	top: 8%;
	font-size: 1.2em;
}
