#StatoConnessione {
	position: absolute;
	top: 8%;
	right: 2%;
	width: 28%;
	height: 20%;
	font-size: 0.8em;
	color: #abd037;
	border: solid 2px #abd037;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	padding-top: 1%;
}

#TitoloStato {
	position: absolute;
	top: 8%;
	left: 20%;
	width: 60%;
	font-weight: bold;
	font-size: 1.2em;
	color: #3a8848;
}

#ImgStato {
	position: absolute;
	top: 10%;
	left: 75%;
	width: 20%;
}

#Autenticazione {
	position: absolute;
	top: 35%;
	left: 5%;
	width: 90%;
	font-size: 1.3em;
}

#LastUpdate {
	position: absolute;
	top: 55%;
	left: 4%;
	width: 100%;
	font-size: 1.3em;
}

#ConfPopUp {
	position: absolute;
	top: 40%;
	left: 35%;
	width: 30%;
	height: 30%;
	background-color: #e0e0e0;
	color: black;
	font-weight: bold;
	z-index: 4;
	border: solid 2px #ABD037;
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
}

#TitoloConfUtente,#TitoloConfElettr {
	position: absolute;
	top: 3%;
	left: 15%;
	width: 50%;
	height: 8%;
	font-size: 1.4em;
	font-weight: bold;
	color: #ffffff;
	text-align: left;
}

.ButtonConf,.ButtonConfSmall {
	background-color: #94c200;
	border: solid 1px #FFF;
	font-weight: bold;
	color: white;
	padding: 2px 10px;
}

input[type=button]:hover {
	background-color: #003300;
}

.ButtonConf {
	font-size: 1em;
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	width: 20%;
}

.ButtonConfSmall {
	font-size: 0.8em;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	width: 6.0em;
}

#ButtonSalvaDati {
	margin-right: 20px;
}

#ButtonSalvaUtente {
	position: absolute;
	top: 70%;
	left: 20%;
}

#ButtonAnnullaUtente {
	position: absolute;
	top: 70%;
	left: 60%;
}

#ConfElettrDiv,#DatiUtente {
	position: absolute;	
	left: 15%;
	width: 55%;
	height: 88%;
}

#ConfElettrDiv {
	top: 12%;
}

#DatiUtente {
	top: 35%;
}

#ButtonAggiungiElettr {
	margin-left: auto;
	margin-right: auto;
	width: 15em;
}

#ButtonInsPlug {
	position: absolute;
	top: 60%;
	left: 30%;
	width: 40%;
}

#LabelNomeElettr {
	position: absolute;
	top: 5%;
}

#LabelCategoriaElettr {
	position: absolute;
	top: 15%;
}

#LabelLocazioneElettr {
	position: absolute;
	top: 28%;
}

#LabelIconaElettr {
	position: absolute;
	top: 44%;
}

#LabelTipoElettr {
	position: absolute;
	top: 58%;
}

#LabelIdElettr {
	position: absolute;
	top: 67%;
}


#IconaElettr {
	height: 2em;
	background-color: #94c200;
	border: solid 2px #ABD037;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	float:left;
}

#IconaElettr:hover {
	background-color: #003300;
}

#confDevice {
	width: 70%;
	margin: 0 auto;
	padding: 10px;
}

.Form > div {
	margin: .6em 0;
	padding: 3px 0;
}

.Form  label {
	width: 35%;
	height: 1.2em;
	font-size: 1.2em;
	line-height: 1.2em;
	margin-right: 5px;
	padding-left: 6px;
	float: left;
	display: block;
	color: white;
	text-align: left;
	font-weight: bold;
}

.Form  input[type=text],select {
	background-color: white;
	width: 45%;
	color: #666;
	font-size: 1.2em;
	border: 1px solid #ccc;
	height: 1.5em;
	float: left;
}

.Form  span {
	width: 30%;
	color: white;
	font-size: 1.2em;
	height: 1.5em;
	text-align: left;
	display: inline-table;
	float: left;
}

#ScegliIconaDiv {
	position: absolute;
	top: 0%;
	left: 20%;
	background-color: white;
	border: solid 2px #3a8848;
	border-radius: 4px;
	-moz-border-radius: 4px; /* firefox */
	-webkit-border-radius: 4px; /* safari, chrome */
	z-index: 4;
	display: none;
}

.ImgIcona {
	padding: 2px;
	
}

.ImgIcona:hover {
	padding: 2px;
	border: solid 2px #3a8848;
	border-radius: 4px;
	-moz-border-radius: 4px; /* firefox */
	-webkit-border-radius: 4px; /* safari, chrome */
}

#ElencoElettr {
	position: absolute;
	top: 22%;
	left: 0%;
	width: 100%;
	height: 85%;
	overflow: auto;
}

.ElettrVis {
	position: absolute;
	top: 0%;
	height: 80%;
	width: 6em;
}

.NomeElettr {
	color: #e0e0e0;
	margin: 2px auto 3px auto;
	height: 2em;
	text-align: center;
}

.ElettrIcona {
	margin: 2px auto 2px auto;
	width: 6.0em;
}

.ButtonConfModifica {
	margin: 3px auto;
	vertical-align: bottom;
}

.ButtonConfElimina {
	margin: 3px auto;
}

.StatoOn, .StatoOff, .StatoDisconnesso, .StatoConnesso {
	margin: 3px auto 5px auto;
	width: 6.0em;
	font-size: 0.8em;
	font-weight: bold;
	border-radius: 4px;
	-moz-border-radius: 4px; firefox
	-webkit-border-radius: 4px; safari, chrome	
	padding: 2px 0px;
	line-height: 1.5em;
}

.StatoOn, .StatoConnesso {
	border: solid 2px #00e000;
	color: #00e000;
}

.StatoOff {
	border: solid 2px #e00000;
	color: #e00000;

}

.StatoDisconnesso {
	border: solid 2px #e0e0e0;
	color: #e0e0e0;
}

.ValueElettr {
	color: #abd037;
	font-size: 1.2em;
	font-weight: bold;
	line-height: 1.2em;
	margin: 12px auto 13px auto;
}

.IdElettr {
	color: #abd037;
	font-size: 1.0em;
	font-weight: bold;
	margin: 12px auto 13px auto;	
}