#CostiConsumi {
	
}

/* 	z-index : 10;}*/

/* Riquadro a sinistra */
#CostoConsumoSintesi {
	position: absolute;
	top: 10%;
	left: 0%;
	width: 56%;
	height: 90%;
	z-index: 10;
}

.TitoloDettaglio {
	font-size: 1em;
	font-weight: bold;
}

.CostoConsumoAttualePV {
	position: relative;
	top: 45%;
	overflow: hidden;
	margin-left: auto;
	margin-right: auto;
}

#ProduzioneAttuale {
	position: absolute;
	top: 3%;
	left: 2%;
	overflow: hidden;
}

#ReteAttuale {
	position: absolute;
	top: 3%;
	right: 2%;
	overflow: hidden;
}

/** 
#CostoAttuale {
	
	left: 3%;
	width: 54%;
	
}
**/
/**
#CostoOdierno {
	border-bottom: 1px solid #FFD800;
}
**/
.Dettagli {
	color: green;
	font-size: 1.3vw;
	text-align: left;
	padding: 15px;
	border-bottom: thin solid grey;
	font-weight: bold;
}

.Dettagli b {
	font-size: 1.0em;
	font-weight: bold;
	position: absolute;
	right: 5%;
	color: black;
}

#IndicatoreTitoloPV {
	position: absolute;
	top: 35%;
	left: 1%;
	width: 22%;
	font-size: 0.9em;
	left: 1%;
}

#IndicatorePV {
	display: block;
	position: absolute;
	bottom: 0%;
	width: 100%;
	height: 16%;
	left: 0%;
	position: absolute;
}

.IndicatoreTitoloCONS {
	position: absolute;
	top: 5%;
	left: 55%;
	width: 40%;
	height: 10%;
}

#Indicatore {
	position: absolute;
	top: 5%;
	right: 3%;
	width: 44%;
	height: 35%;
	border: 10px solid #575757;
	background-color: #fff;
	border-radius: 16px;
	-webkit-border-radius: 16px;
	-moz-border-radius: 16px;
}

#DatiCosti {
	position: absolute;
	top: 47%;
	right: 3%;
	width: 44%;
	height: 45%;
	border: 10px solid #575757;
	background-color: #fff;
	border-radius: 16px;
	-webkit-border-radius: 16px;
	-moz-border-radius: 16px;
}

#PVConsumoIACIndicatoreImg {
	width: 50%;
	height: 100%;
	position: absolute;
	top: 0%;
	left: 25%;
}

.IndicatoreTxt {
	font-size: 0.9em;
	font-weight: normal;
}

#IndicatoreSopra {
	position: absolute;
	top: 0%;
	left: 50%;
	width: 120%;
	height: 10%;
}

#IndicatoreMedia {
	position: absolute;
	top: 25%;
	left: 100%;
	width: 70%;
	height: 10%;
}

#IndicatoreSotto {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 120%;
	height: 10%;
}

#IndicatorePaddingLeft {
	position: absolute;
	top: 0%;
	left: -5%;
	width: 20%;
	height: 50%;
	border-left: 1px solid #0B0B96;
}

/* Riquadro a destra */
#CostoConsumoInfo {
	position: absolute;
	top: 10%;
	left: 57%;
	width: 40%;
	height: 90%;
}

#InfoTitolo {
	position: absolute;
	top: 2%;
	left: 2%;
	width: 96%;
	height: 10%;
	text-align: center;
	background-color: transparent;
}

#Grafico {
	position: absolute;
	top: 2%;
	left: 1%;
	height: 44%;
}

#GraficoConsumoOdierno {
	height: 100%;
	width: 100%;
}

#Grafico2 {
	position: absolute;
	top: 51%;
	left: 1%;
}

#GraficoConsumoOdierno2 {
	height: 100%;
	width: 100%;
}
#DettaglioGraficoConsumoOdierno2 {
	height: 100%;
	width: 100%;
}

#CostoTConsumoMax {
	position: absolute;
	top: 50%;
	left: 30%;
	width: 40%;
	height: 17%;
	vertical-align: middle;
}
/*
#ConsumoMaggiore {
	
	border-top: 1px solid #0B0B96;
}
*/
#CostoTConsumoMaxTitolo {
	position: absolute;
	top: 9%;
	left: 0%;
	width: 100%;
	height: 8%;
	font-size: 1.0em;
	font-weight: bold;
	color: green;
}

#MarqueeContainer {
	position: absolute;
	top: 80%;
	left: 0%;
	width: 100%;
	height: 10%;
	overflow: hidden;
	background-image: linear-gradient(left, rgb(255, 255, 255) 7%,
		rgb(122, 122, 122) 35%, rgb(122, 122, 122) 65%, rgb(255, 255, 255) 90%);
	background-image: -o-linear-gradient(left, rgb(255, 255, 255) 7%,
		rgb(122, 122, 122) 35%, rgb(122, 122, 122) 65%, rgb(255, 255, 255) 90%);
	background-image: -moz-linear-gradient(left, rgb(255, 255, 255) 7%,
		rgb(122, 122, 122) 35%, rgb(122, 122, 122) 65%, rgb(255, 255, 255) 90%);
	background-image: -webkit-linear-gradient(left, rgb(255, 255, 255) 7%,
		rgb(122, 122, 122) 35%, rgb(122, 122, 122) 65%, rgb(255, 255, 255) 90%);
	background-image: -ms-linear-gradient(left, rgb(255, 255, 255) 7%,
		rgb(122, 122, 122) 35%, rgb(122, 122, 122) 65%, rgb(255, 255, 255) 90%);
	background-image: -webkit-gradient(linear, left bottom, right bottom, color-stop(0.07,
		rgb(255, 255, 255)), color-stop(0.35, rgb(122, 122, 122)),
		color-stop(0.65, rgb(122, 122, 122)),
		color-stop(0.93, rgb(255, 255, 255)));
}

#Marquee {
	float: left;
	margin-top: 30%;
	font: 15px Verdana;
	width: 1000px;
	color: #fff;
}

#ulMarquee {
	margin: 0px;
	position: relative;
	list-style: none;
	overflow: auto;
	width: 100%;
}

#ulMarquee>li {
	float: left;
	margin-top: 0px;
	font: 15px Verdana;
	width: auto;
	color: #fff;
}

/*#Marquee {
	
	position: relative;
	width: 2000px;
	height: 100%;
	padding-top: 5%;
	color: white;
	font-size: 1.5em;
	
	overflow: hidden;
}*/
#CostoAttualeImg {
	position: absolute;
	top: 20%;
	left: 25%;
	height: 50%;
	width: 50%;
}

#IndicatoreSotto {
	z-index: 1;
}

#IndicatoreCostiBarra,#IndicatoreConsumiBarra {
	z-index: 2;
}

#IndicatoreSopra {
	z-index: 3;
}

#DettaglioCosto {
	position: absolute;
	top: 72%;
	left: 0%;
	width: 100%;
	height: 28%;
	vertical-align: middle;
}

#DettaglioSuddivisioneCosti {
	width: 100%;
	height: 80%;
	vertical-align: middle;
	display: block;
}

#SuddivisioneCostiVuoto {
	position: absolute;
	top: 45%;
	left: 20%;
	width: 60%;
	height: 10%;
	font-size: 1.0em;
	font-weight: bold;
	text-align: center;
	color: green; 
}

#DettaglioGraficoConsumoOdierno {
	height: 100%;
	width: 100%;
}

#LabelKWH {
	position: absolute;
	top: 14%;
	left: 5%;
	width: 10%;
	height: 10%;
	font-size: 1.3em;
	font-weight: bold;
}

#LabelOra {
	position: absolute;
	top: 81%;
	left: 89%;
	width: 10%;
	height: 10%;
	font-size: 1.3em;
	font-weight: bold;
}

#TariffaPos {
	position: absolute;
	top: 35%;
	left: 5%;
	width: 3%;
	height: 40%;
	background-color: #666666;
	opacity: 0.4;
	filter: alpha(opacity =                  40);
	z-index: 1;
}

#TariffaImgDiv {
	position: absolute;
	top: 40%;
	left: 5%;
	width: 90%;
	height: 30%;
}

#DettaglioConsumoMaggiore {
	position: absolute;
	top: 20%;
	left: 0%;
	width: 100%;
	height: 80%;
}

/*#TestoConsumoMaggiore {
	position: absolute;
	top: 30%;
	right: 0%;
	width: 58%;
	height: 30%;
	text-align: center;
	font-size: 1.0em;
	font-weight: bold;
}*/

#TestoConsumoMaggiore{
	font-size: 1.0vw;
	font-weight: bold;
}

#MsgConsumoMaggiore {
	position: absolute;
	top: 30%;
	left: 00%;
	width: 100%;
	height: 30%;
	text-align: center;
	font-size: 0.9em;
	font-weight: bold;
}

/*#ConsumoMaggioreImg {
	position: absolute;
	top: 10%;
	left: 20%;
	width: 80%;
	height: 80%;
}*/

#ConsumoAttualeMeter>img {
	position: absolute;
	width: 100%;
	top: 0px;
	left: 0px;
}

#DivTestoGauge {
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 100%;
	height: 20%;
}

.values {
	position: absolute;
	top: 80%;
	left: 20%;
	vertical-align: middle;
	font-weight: bold;
	font-size: 1.3em;
	width: 60%;
	height: 8%;
	padding-top: 1%;
	background-color: transparent;
	z-index: 2;
}

.highlightbar {
	position: absolute;
	top: 5%;
	left: 40%;
	text-align: center;
	font-weight: bold;
	font-size: 0.8em;
	width: 24%;
	height: 8%;
	background-color: #a0a0a0;
	opacity: 0.8;
	filter: alpha(opacity =                  80);
	z-index: 2;
	padding-top: 2%;
	color: black;
	border: solid 2px black;
	border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
}

#divFrecceProd {
	position: absolute;
	top: 20%;
	left: 34%;
	width: 16%;
}

#imgFrecceProd {
	width: 100%;
}

#divFrecceRete {
	position: absolute;
	top: 20%;
	left: 50%;
	width: 16%;
}

#imgFrecceRete {
	width: 100%;
}

#divFrecceConsumi {
	position: absolute;
	top: 20%;
	left: 49%;
	height: 25%;
}

#imgFrecceConsumi {
	height: 100%;
}

#divCentro {
	position: absolute;
	top: 18%;
	left: 47.7%;
	width: 4%;
	height: 5.7%;
}

#imgCentro {
	width: 100%;
	height: 100%;
}

#percIAC {
	position: absolute;
	top: 35%;
	right: 12%;
	font-size: 2em;
	font-weight: bold;
}

#InfoFeed {
	position: absolute;
	top: 72%;
	left: 3%;
	width: 94%;
	height: 25%;
	background: #333;
	border-radius: 7px;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
}

#InfoFeedTitolo {
	position: absolute;
	top: 2%;
	left: 5%;
	height: 16%;
	width: 95%;
	color: #3A9948;
	font-size: 0.8em;
	font-weight: bold;
	vertical-align: middle;
	margin-bottom: 8%;
	text-align: left;
}

#InfoFeedTitolo button {
	height: 100%;
	float: right;
}

#InfoFeedDettaglio {
	position: absolute;
	top: 15%;
	left: 5%;
	width: 90%;
	height: 80%;
	color: #ffffff;
	font-weight: normal;
	overflow: hidden;
}

#InfoFeedDettaglio a {
	text-decoration: none;
	color: #9EC200;
}

#InfoFeedDettaglio a:hover {
	text-decoration: underline;
}

#PrimaNews {
	border-bottom: solid 1px #9EC200;
	padding-bottom: 2%;
	width: 100%;
}

#SecondaNews {
	margin-top: 1%;
}

#InfoFeedDettaglio .titoloNews,.dettaglioNews {
	width: 100%;
	text-align: left;
}

#InfoFeedDettaglio .titoloNews {
	line-height: 0.9;
	margin-bottom: 1%;
}

#InfoFeedDettaglio .dettaglioNews span {
	color: white;
	width: 100%;
	font-size: 0.95em;
}

#InfoFeedDettaglio .titoloNews span {
	color: #9EC200;
	font-size: 1em;
}

.titoloInfoBox {
	color: #3A9948;
	font-size: 1em;
	font-weight: bold;
}

#consigliTurnOn {
	position: absolute;
	border: 5px solid #575757;
	background-color: #9ec200;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	font-size: 1.2em;
	line-height: 1.0;
	padding: 5px;
	top: 55%;
	left: 75%;
	width: 20%;
	color: #000;
}

.box {
	display: block;
	background-color: #1a1a1a;
	border-radius: 16px;
	-webkit-border-radius: 16px;
	-moz-border-radius: 16px;
	background-repeat: repeat-x;
	background-size: auto 100%;
	background-origin: content-box;
	color: #fff;
	overflow: hidden;
}

.pvSingleBox {
	width: 30%;
	height: 35%;
	border: 10px solid #575757;
	background-color: #fff;
	border-radius: 16px;
	-webkit-border-radius: 16px;
	-moz-border-radius: 16px;
}

.chartSingleBox {
	border: 10px solid #575757;
	background-color: #fff;
	width: 95%;
	height: 44%;
	margin: auto;
	vertical-align: middle;
	border-radius: 16px;
	-webkit-border-radius: 16px;
	-moz-border-radius: 16px;
}

/* .consSingleBox {
	width: 40%;
	height: 19%;
	border: 10px solid #575757;
	background-color: #fff;
	border-radius: 16px;
	-webkit-border-radius: 16px;
	-moz-border-radius: 16px;
} */
#DatiCostoConsumo {
	position: absolute;
	top: 47%;
	left: 3%;
	width: 44%;
	height: 45%;
	border: 10px solid #575757;
	background-color: #fff;
	border-radius: 16px;
	-webkit-border-radius: 16px;
	-moz-border-radius: 16px;
}

.boxTitles {
	z-index: 100;
	color: green;
	font-size: 1.3em;
	font-weight: bold;
	margin-top: 10px;
}

.meter {
	width: 140px;
	height: 100px;
	margin: auto;
}

#DatiCostoConsumoHead,#DatiCostiHead {
	width: 100%;
	height: 25%;
	border-bottom: medium solid grey;
}

#HouseImg {
	position: absolute;
	top: 2%;
	left: 15%;
	height: 20%;
}

#DatiCostoConsumoTitolo,#DatiCostiTitolo {
	color: green;
	font-size: 1.3em;
	font-weight: bold;
	position: absolute;
	top: 10%;
	left: 35%;
}

#ConsumoIndicatoreImg {
	position: absolute;
	top: 58%;
	left: 5%;
	width: 90%;
	height: 35%;
	text-align: left;
}

#CostoIndicatoreImg {
	position: absolute;
	top: 17%;
	left: 5%;
	width: 90%;
	height: 35%;
	padding-bottom: 20px;
	text-align: left;
}

#CostoIndicatoreImg span,#ConsumoIndicatoreImg span {
	color: green;
	font-size: 1.2em;
	text-align: left;
	font-weight: bold;
}

#Costi {
	width: 50%;
	height: 100%;
	position: absolute;
	left: 50%;
	top: 0%;
}

.CostoConsumoAttualeCONS {
	position: relative;
	top: 5%;
	left: 3%;
	overflow: hidden;
	width: 44%;
	height: 35%;
}

#GraficoSuddivisioneCosti {
	width: 100%;
	height: 100%;
}

#TitoloSuddivisioneCosti {
	width: 100%;
	height: 20%;
	color: green;
	font-size: 1.3em;
	text-align: center;
	font-weight: bold;
	line-height: 2em;
}

#ConsumoOdiernoVuoto {
	position: absolute;
	top: 40%;
	left: 0%;
	width: 100%;
	height: 20%;
	text-align: center;
	vertical-align: middle;
	color: #3a8848;
	font-size: 1.0em;
	font-weight: bold;
}