body,html {
	
	background-color: #202020;
	margin : 0px;
	font-family: Arial, Arial, sans-serif;
	text-align: center;
	min-height : 660px;
	min-width : 980px;
	font-size: 95%;
}

img {
	-ms-interpolation-mode: bicubic;
}

.visibleDiv {
	display: inline;
}

.invisibleDiv {
	display: none;
}

span {
	color: black;
	font-size: 1.0em;
}

#Header img {
	float: left;
}
#Header {
	position: absolute;
	left: 2%;
	top: 0%;
	right: 2%;
	height: 10%;
	float: left;
}

#HeaderSep {
	position: absolute;
	left: 2%;
	right: 2%;
	top: 10%;
	height: 1%;
}

/*@media screen and ( max-width : 700px) {
	#Header {
		height: 7%;
	}
	#HeaderSep {
		top: 7%;
	}
}*/

#LogoImg {
	position: absolute;
	height: 100%;
	left: 0%;
}

#PartnerImg {
	position: absolute;
	height: 85%;
	right: 10%;
	bottom: 1px;
}

#HeaderSepImg {
	position: absolute;
	height: 100%;
	left: 0px;
	width: 100%;
}

/* serve solo per colorare una parte dello schermo */
#ContentMain {
	position: absolute;
	left: 2%;
	top: 11%;
	width: 96%;
	height: 86%;
	background-color: #333333;
	overflow: hidden;
}

#Login {
	position: absolute;
	left: 2%;
	top: 11%;
	width: 96%;
	height: 86%;
	background-color: #333333;
	overflow: hidden;
	text-align : center;
}

#MainMenu {
	position: absolute;
	left: 0%;
	top: 10%;
	width: 15%;
	height: 80%;
	overflow: hidden;
}

#userID{
	position: relative;
	color: #fff;
	font-size: 1.0em;
	text-align:center;
	overflow: hidden;
	top: 65%;
	left: 25%;
	float: left;
}

#ContentMenu {
	position: absolute;
	left: 16%;
	top: 88%;
	width: 83%;
	height: 8%;
}

#ContentMenuConf {
	position: absolute;
	left: 16%;
	top: 88%;
	width: 33%;
	height: 8%;
}

#Content {
	position: absolute;
	left: 15%;
	top: 11%;
	width: 83%;
	height: 75%;
	overflow: hidden;
	color: #202020;
	background-color: #333;
}

#Registra {
	position: absolute;
	left: 15%;
	top: 11%;
	width: 83%;
	height: 75%;
	overflow: hidden;
	color: #202020;
	background-color: #333;
	
}

#iframeForum {
	position: absolute;
	left: 15%;
	top: 11%;
	width: 83%;
	height: 75%;
	overflow: hidden;
	color: #202020;
	background-color: #333;
	
}

#iframeReport {
	position: absolute;
	left: 15%;
	top: 11%;
	width: 83%;
	height: 75%;
	overflow: hidden;
	color: #202020;
	background-color: #333;
	
}

.Content {
	position: absolute;
	left: 12%;
	top: 11%;
	width: 88%;
	height: 75%;
	overflow: hidden;
	color: #202020;
}

#NonDisponibile {
	color: #abd037;
	font-size: 2.0vw;
	text-align:center;
	overflow: hidden;
	padding-top:20%;
	left: 30%;
}

#Timestamp {
	position: absolute;
	right: 4%;
	top: 12%;
	height: 5%;
	width: 100%;
	font-size: 1.0em;
}

#Data {
	margin-right: 12px;
	color: #f0f0f0;
	float: right;
}

#Ora {
	color: #f0f0f0;
	float: right;
}

#ClockImg {
	margin-right: 12px;
	float: right;
}

.ContentTitle {
	position: absolute;
	top: 3%;
	left: 2%;
	width: 50%;
	height: 8%;
	text-align: left;
	valign: middle;
	font-size: 1.4em;
	font-weight: bold;
	color: #ffffff;
}

#ErrorMsgDIV {
	position: relative;
    top: 11%;
    margin-left:auto;
	margin-right:auto;
    height: 8%;
    width: 20%;
    overflow:hidden;
    background-color: transparent;
    text-align: center;
	font-size: 0.5em;
	font-weight: bold;
	color: rgb(124, 124, 124);
	z-index: 1000;
}

#TitoloAutenticazione {
	position:absolute;
	width : 100%;
	top: 10%;
	background-color: transparent;
	text-align: center;
	font-weight: bold;
	color: white;
	font-size: 3.0em;
}


#sign-in{
	margin-top :10%;
	margin-left : auto;
	margin-right : auto;
	height : 40%;
}

#myForm{
	color:white;
	font-size: 14pt;
	text-align : left ;
		
}


#passDiv,#emailDiv{
	margin-bottom : 5%;
	height : 15%;
}



#sign-in label {
	position:relative;
	top :30%;
	float :left;
	width : 20%;
	color:white;
	height: 90%;}
	
#sign-in input{

width: 78%;
font-size: 15px;
direction: ltr;
height :2em;
}


#RicordaPssw{
	
	width : 100%;
	text-align : right;
	font-size: 0.9em;
}
#RicordaPssw a{
	
	color : white;
	text-decoration : none;
}

#RicordaPssw a:hover{
	
	text-decoration:underline;
	cursor : pointer;
	
}

#myForm .ui-button{
	margin-left : 35%;
	margin-top: 5%;
	width : 50%;

}





#registraDiv{
	text-align : left;
}

/* Pagina richiesta Password */
#MessaggioRichiestaPssw{
	width : 60%;
	font-size : 1.8em;
	color : white;
	margin-left : 20%;
	margin-top : 10%;
	
}


label.error {
	
	width : 100% !important;
	color : red !important;
}


#inputRichiestaPssw {
    font-size : 1.3em;
	margin-top:3%;
	width:30%;
	
}

/* Pagina registrazione */

#form_register{
	position : relative;
	height : 80%;
	margin-left : auto;
	margin-right : auto;
	top : 15%;
	font-weight: bold;
	border: 4px solid #abd037;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;  
	border-radius: 10px;
	display: block;
	
}

#form_register label {
	
	float :left;
	width : 45%;
	font-size : 1.3em;
	color : white;
	
	
}

#form_register input {
	
	width : 50%;
	display : block;
	height :2em;
	padding : 0px;
	
	
}


#form_register .ui-button {
	margin-top : 20%;
	width : 40%;	
}

#form_register button[type="submit"] {
	
	margin-right : 3%;	
}

#form_register label.error {

	color : red !important;
	font-size : 0.8em;
	float : right;
	

}

#emailRegDiv,#passwordRegDiv {
	
	margin-top: 10%;
}

#emailConfRegDiv,#passwordConfRegDiv {
	
	margin-top: 5%;
}

