#MainMenuTable {
	position: absolute;
	left: 2%;
	top: 2%;
	width: 96%;
	height: 90%;
	overflow: hidden;
}

.MainMenuImg {
	position: absolute;
	top: 0%;
	border: none;
}

.MainMenuEl {
	position: absolute;
	color: white;
}

.MainMenuEl:hover {
	border: solid 2px #9ec200;
	border-radius: 4px;
	-moz-border-radius: 4px; /* firefox */
	-webkit-border-radius: 4px; /* safari, chrome */
}

.MainMenuElSelected {
	position: absolute;
	color: #9ec200;
}

.MainMenuTitle {
	position: absolute;
	top: 70%;
	left: 0%;
	text-align: center;
	width: 100%;
	height: 10%;
	font-size: 0.9em;
	font-weight: bold;
	padding-top: 2px;
	border: none;
	outline: none;
}

.anchorMain {
	background-color: transparent;
}

.ContentMenuEl {
	position: absolute;
	top: 0%;
	left: 0%;
	height: 90%;
	width: 18%;
	color: white;
	outline: none;
	border-left: solid 2px black;
}

.ContentMenuElSelected {
	color: #9ec200;
}

.ContentMenuEl:hover {
	border: solid 2px #9ec200;
	border-radius: 4px;
	-moz-border-radius: 4px; /* firefox */
	-webkit-border-radius: 4px; /* safari, chrome */
}

.ContentMenuElSelected:hover {
	border: solid 2px #9ec200;
	border-radius: 4px;
	-moz-border-radius: 4px; /* firefox */
	-webkit-border-radius: 4px; /* safari, chrome */
}

.ContentMenuRow {
	position: absolute;
	left: 0%;
	top: 0%;
	bottom: 0%;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.ContentMenuTitle {
	position: absolute;
	top: 40%;
	left: 38%;
	width: 55%;
	height: 20%;
	text-align: center;
	font-size: 0.9em;
	font-weight: bold;
	text-align: left;
}

.ContentMenuImg {
	position: absolute;
	top: 5%;
	left: 5%;
	width: 25%;
	border: none;
	outline: none;
}