#TitoloSceltaPeriodo {
	position: absolute;
	top: 5%;
	color: #202020;
	font-size: 1.0em;
	font-weight: bold;
	height: 5%;
	left: 5%;
	width: 100%;
}

#TitoloSceltaDispositivo {
	position: absolute;
	top: 50%;
	color: #202020;
	font-size: 1.0em;
	font-weight: bold;
	height: 5%;
	left: 5%;
	width: 100%;
}

#SceltaPeriodo {
	position: absolute;
	top: 10%;
	left: 4%;
	width: 96%;
	height: 35%;
	text-align: left;
	vertical-align: middle;
	color: #202020;
	font-weight: bold;
}


#SceltaDispositivo {
	position: absolute;
	top: 55%;
	left: 4%;
	width: 96%;
	height: 53%;
	text-align: left;
	color: #202020;
	font-weight: bold;
	vertical-align: middle;
}


#MsgStorico {
	position: absolute;
	top: 8%;
	left: 45%;
	width: 30%;
	height: 8%;
	text-align: center;
	color: #d01010;
	font-size: 0.9em;
	font-weight: bold;
}

.highlightbarStorico {
	position: absolute;
	top:0;
	left:0;
	text-align: center;
	font-weight: bold;
	font-size: 0.8em;
	width: 15%;
	height: 5%;
	background-color: #a0a0a0;
	opacity: 0.8;
	filter: alpha(opacity = 80);
	z-index: 2; 
	color:black;
	border: solid 2px black;
	border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
}