.TrialTitolo {
	position: absolute;
	top: 3%;
	left: 2%;
	width: 50%;
	height: 8%;
	text-align: left;
	valign: middle;
	background-color: transparent;
	font-size: 1.4em;
	font-weight: bold;
	color: #f0f0f0;
}

#TariffaTrial {
	position: absolute;
	top: 13%;
	left: 2%;
	width: 70%;
	height: 80%;
	background-color: transparent;
}

#TariffaTrialBackground,#InfoTrialBackground,#ContattiTrialBackground {
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
}

#TariffaImg1 {
	position: absolute;
	top: 20%;
	left: 2%;
	width: 60%;
	height: 30%;
	background-color: transparent;
	z-index: 1;
}

#TariffaImg2 {
	position: absolute;
	top: 60%;
	left: 2%;
	width: 60%;
	height: 30%;
	background-color: transparent;
}

#TariffaLegenda {
	position: absolute;
	top: 10%;
	left: 62%;
	width: 36%;
	height: 80%;
	border-left: solid 1px #808080;
}

.TitoloImgTariffa {
	position: absolute;
	top: 0%;
	left: 5%;
	width: 90%;
	height: 20%;
	text-align: left;
	vertical-align: middle;
	background-color: transparent;
	font-weight: bold;
	border-bottom: solid 1px #8cf208;
}

.ImgTariffaTrial {
	position: absolute;
	top: 30%;
	left: 5%;
	width: 90%;
	height: 20%;
	text-align: center;
}

.TariffaOre {
	position: absolute;
	top: 60%;
	left: 80%;
	width: 20%;
	height: 10%;
	text-align: center;
	font-size: 0.9em;
	font-weight: normal;
}

#LegendaTrialBackground {
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
}

#LegendaTariffa1 {
	position: absolute;
	top: 30%;
	left: 23%;
	width: 80%;
	height: 20%;
	text-align: left;
	background-color: transparent;
	color: #202020;
	font-weight: bold;
}

#ColoreTariffa1 {
	position: absolute;
	top: 30%;
	left: 8%;
	width: 10%;
}

#LegendaTariffa2 {
	position: absolute;
	top: 45%;
	left: 23%;
	width: 80%;
	height: 20%;
	text-align: left;
	background-color: transparent;
	color: #202020;
	font-weight: bold;
}

#ColoreTariffa2 {
	position: absolute;
	top: 45%;
	left: 8%;
	width: 10%;
}

#LegendaTariffa3 {
	position: absolute;
	top: 60%;
	left: 23%;
	width: 80%;
	height: 20%;
	text-align: left;
	background-color: transparent;
	color: #202020;
	font-weight: bold;
}

#ColoreTariffa3 {
	position: absolute;
	top: 60%;
	left: 8%;
	width: 10%;
}

#Informazioni,#Contatti {
	position: absolute;
	top: 13%;
	left: 2%;
	width: 80%;
	height: 80%;
	background-color: transparent;
}

#InformazioniTestoTitolo, #ContattiTestoTitolo {
	position: absolute;
	top: 10%;
	left: 5%;
	width: 90%;
	height: 8%;
	text-align: center;
	font-weight: bold;
	//border-bottom: solid 1px #9EC200;
}

#MembersEH {
	position: absolute;
	top: 70%;
	left: 5%;
	width: 90%;
	height: 8%;
	text-align: center;
	font-weight: bold;
	//border-bottom: solid 1px #9EC200;
}

#InformazioniTesto {
	position: absolute;
	top: 25%;
	left: 20%;
	width: 50%;
	height: 75%;
	text-align: justify;
	font-size: 0.9em;
}

#ContattiTel {
	position: absolute;
	top: 35%;
	left: 5%;
	width: 90%;
	height: 20%;
	text-align: left;
	vertical-align: middle;
	font-size: 1.2em;
}

#ContattiFax {
	position: absolute;
	top: 50%;
	left: 5%;
	width: 90%;
	height: 20%;
	text-align: left;
	vertical-align: middle;
	font-size: 1.2em;
}

#ContattiMail {
	position: absolute;
	top: 65%;
	left: 5%;
	width: 90%;
	height: 20%;
	text-align: left;
	vertical-align: middle;
	font-size: 1.2em;
}

.ContattiP {
	color: #9EC200;
	font-size: 1.2em;
}

#QuestionariRef {
	position: absolute;
	top: 40%;
	left: 10%;
	width: 80%;
	height: 20%;
	text-align: center;
	vertical-align: middle;
	color: #e0e0e0;
	font-size: 1.4em;
}

#CostoImg,#ConsumoImg {
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	font-size: 1.2em;
}