#MainMenuTable {
	position: absolute;
	left: 2%;
	top: 2%;
	width: 96%;
	height: 90%;
	background-color: transparent;
	overflow: hidden;
}

.MainMenuImg {
	background-color: transparent;
	width: 80px;
	height: 80px;
	border:none;
	outline:none;
}


.MainMenuEl {
	position: absolute;
	margin-top: 1%;
	background-color: transparent;
	color:white;
	text-align: center;
}


.MainMenuEl:hover {
	border: solid 2px #ABD037;
	border-radius: 4px;
	-moz-border-radius: 4px; /* firefox */
  	-webkit-border-radius: 4px; /* safari, chrome */
}


.MainMenuElSelected {
	position: absolute;
	margin-top: 1%;
	background-color: transparent;
	overflow: hidden;
	color:#ABD037;
	text-align: center;

}

.MainMenuTitle {
	background-color: transparent;
	text-align: center;
	font-size: 0.8em;
	font-weight: bold;
	vertical-align: middle;
	padding-top:2px;
	border:none;
	outline:none;
}

.anchorMain {
	background-color: transparent;

}

.ContentMenuEl {
	position: absolute;
	background-color: transparent;
	color:white;
	text-align: center;
	vertical-align: middle;
}

.ContentMenuEl:hover {
	border: solid 2px #ABD037;
	border-radius: 4px;
	-moz-border-radius: 4px; /* firefox */
  	-webkit-border-radius: 4px; /* safari, chrome */
}


.ContentMenuElSelected {
	position: absolute;
	background-color: transparent;
	color:#ABD037;
	text-align: center;
	vertical-align: middle;
	border:none;
	outline:none;
}

.ContentMenuRow {
	position: absolute;
	left: 0%;
	top: 0%;
	bottom: 0%;
	width: 100%;
	height: 100%;
	background-color: transparent;
	text-align: center;
	overflow: hidden;
}

.ContentMenuTitle {
	background-color: transparent;
	text-align: center;
	font-size: 0.7em;
	font-weight: bold;
	vertical-align: middle;
}

.ContentMenuImg {
	background-color: transparent;
	padding-top:2%;
	width: 60px;
	height: 60px;
}

