@CHARSET "ISO-8859-1";

#container{
	width: 100%;
	height: 100%;
	margin-left: auto; 
	margin-right: auto;
	text-align: center;
}

.ui-jqgrid {
    margin-left: auto;
    margin-right: auto;
}

#rdRadioChannel{
	width: 90%;
	margin:50 auto;
	text-align: center;
}

#btnRadioChannel{
	
	width: 70%;
	margin:20 auto;
	text-align: center;
}

.tnCenterPane{
	margin:0 auto;
}

.tnHeaderHome{
	margin:0 auto;
}

.tnHeaderHome2{
	margin:0 auto;
	width: 50;
}

.tblVersion{
	margin:0 auto;
	border=1;
}

.italicsFont{
	font:oblique;
}