html {
	background: #efefef;
	margin: 0 0 0 -1px;
	padding: 0;
	overflow-Y: scroll;
}

body {
	padding: 0;
	margin: 0;
	display: table;
	width: 100%;
}

body {
	color: #656565;
	font-family: Arial, sans-serif;
	font-size: 13px;
	font-style: normal;
	font-weight: normal;
	text-transform: normal;
}

p {
	letter-spacing: normal;
	line-height: 1.7em;
}

h1 {
	color: #78a8c0;
	font-size: 22px;
	margin: 25px 0 10px 0;
	clear: both;
}

h2 {
	color: #78a8c0;
	font-size: 20px;
	margin: 20px 0 10px 0;
	clear: both;
}

h3 {
	color: #78a8c0;
	font-size: 18px;
	margin: 20px 0 5px 0;
	clear: both;
}

a:link,a:visited {
	color: #1860a8;
	text-decoration: none;
}

a:hover {
	color: #ffa500;
	text-decoration: underline;
}

#wrapper {
	background: transparent url( images/page-vbg.jpg ) repeat-y scroll 50%
		0px;
	margin: 0 auto;
	width: 100%;
}

body {
	background-color: #efefef;
	/*background-image:url( images/body-bg.jpg );*/
	background-position: center top;
	background-repeat: repeat-x;
}

#bg {
	margin: 0 auto;
	padding: 0;
	background: transparent;
	background-image: url(images/hat.jpg);
	background-repeat: no-repeat;
	background-position: center top;
}

#header {
	margin: 0 auto;
	min-height: 0px;
	height: 0px;
	width: 880px;
}

#page {
	background: transparent url( images/page-bg.jpg ) no-repeat center top;
}

#container {
	margin: 0 auto;
	width: 880px;
}

#banner {
	margin: 0 auto;
	height: 141px;
	width: 100%;
}

#nav1 {
	height: 40px;
	margin: 0px auto;
	text-align: center;
	width: 880px;
}

#nav1 table {
	margin: 0 auto;
	list-style-type: none;
	position: relative;
	height: 40px;
	width: 100%; text-transform : uppercase;
	font-size: 11px;
	font-family: Arial, sans-serif;
	text-transform: uppercase;
}

#nav1 table td:hover {
	color: #ffffff;
	background: transparent url('images/hmenu-sel.jpg') repeat-x top left;
	white-space: nowrap;
	cursor: pointer;
}

#nav1 table td:link {
	color: #222222;
	background: transparent url('images/hmenu.jpg') repeat-x top left;
	white-space: nowrap;
	cursor: pointer;
}

#nav1 table p {
	margin: 0;
	padding: 0;
	cursor: pointer;
}

.menuSelected {
	color: #ffffff;
	background: transparent url('images/hmenu-sel.jpg') repeat-x top left;
	white-space: nowrap;
	cursor: pointer;
}

.menuUnselected {
	color: #222222;
	background: transparent url('images/hmenu.jpg') repeat-x top left;
	white-space: nowrap;
	cursor: pointer;
}

#content {
	width: 880px;
	margin: 0 auto;
	text-align: left;
	min-height: 500px;
	padding-top: 10px;
}

#content p {
	text-align: justify;
}

#footerWrapper {
	margin: 0 auto;
	height: 120px;
	padding: 0;
	background: transparent url( images/footerWrapper-bg.jpg) no-repeat
		scroll center top;
}

#footer {
	margin: 0 auto;
	padding-top: 5px;
}

#footer {
	color: #FFFFFF;
	text-align: center;
}

#footer a:link,#footer a:visited {
	color: #FFFFFF;
}

#footer a:hover {
	color: #ffb500;
	text-decoration: none;
}

#right {
	width: 200px;
	padding: 10px 20px 20px 20px;
	float: left;
}

#center {
	/*width:600px;*/
	padding: 10px 20px 20px 20px;
	float: left;
}

#content p {
	margin-top: 10px;
	text-align: justify;
}

#sidebar ul.vmenu {
	list-style: none;
	text-align: left;
	margin: 7px 0px 8px 0px;
	padding: 0;
	text-decoration: none;
	border-top: 1px solid #d8d8f0;
}

#sidebar ul.vmenu li {
	list-style: none;
	padding: 4px 0 4px 0px;
	margin: 0 2px;
	border-bottom: 1px solid #d8d8f0;
}

#sidebar ul.vmenu li a {
	text-decoration: none;
	color: #1860a8;
}

#sidebar ul.vmenu li a:hover {
	color: #ffa500;
}

#sidebar ul.vmenu ul {
	margin: 0 0 0 5px;
	padding: 0;
}

#sidebar ul.vmenu ul li {
	border: none;
}

a img {
	border: none;
}

.clear {
	clear: both;
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
}

/**/
@CHARSET "ISO-8859-1";

#container {
	width: 100%;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.ui-jqgrid {
	margin-left: auto;
	margin-right: auto;
}

.infoButton {
	width: 24px;
	height: 24px;
	cursor: pointer;
	vertical-align: middle;
}

.gridButton {
	width: 24px;
	height: 24px;
	cursor: pointer;
	vertical-align: middle;
}

​
 
 
  
  .newDevice {
	width: 15px;
	height: 15px;
	cursor: pointer;
	vertical-align: middle;
}

#rdRadioChannel {
	width: 90%;
	margin: 50 auto;
	text-align: center;
}

#btnRadioChannel {
	width: 70%;
	margin: 20 auto;
	text-align: center;
}

.tnCenterPane {
	margin: 0 auto;
}

.tnHeaderHome {
	margin: 0 auto;
}

.tnHeaderHome2 {
	margin: 0 auto;
	width: 50;
}

.tblVersion {
	margin: 0 auto;
	border: 1;
}

.italicsFont {
	font: oblique;
}