
#Registra iframe {
	
	position:absolute;
	top: 10%;
	left: 0px;
	width : 95%;
	overflow : auto;
	background-color: #333;
	display:none;
	border : 0px;
}

#DatiUtente {
	position: absolute;
	top: 35%;
	width : 95%;
}

.Form > div {
	margin: .6em 0;
	padding: 3px 0;
}

.Form  label {
	width: 35%;
	height: 1.2em;
	font-size: 1.2em;
	line-height: 1.2em;
	margin-right: 5px;
	padding-left: 6px;
	float: left;
	display: block;
	color: white;
	text-align: left;
	font-weight: bold;
}

.Form  input[type=text],select {
	background-color: white;
	width: 45%;
	color: #666;
	font-size: 1.2em;
	border: 1px solid #ccc;
	height: 1.5em;
	float: left;
}

.Form  span {
	width: 30%;
	color: white;
	font-size: 1.2em;
	height: 1.5em;
	text-align: left;
	display: inline-table;
	float: left;
}
