/*#TitoloElettrodomestici {
	position: absolute;
	top: 3%;
	left: 2%;
	width: 50%;
	height: 2em;
	text-align: left;
	vertical-align: middle;
	font-size: 1.4em;
	font-weight: bold;
	color: #f0f0f0;
} */

#ElettrVuotoBg {
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	color: #3a8848;
	font-size: 1.8em;
	font-weight: bold;
}

#ElettrodomesticiDiv {
	position: absolute;
	top: 10%;
	left: 2%;
	width: 98%;
	height: 90%;
	vertical-align: middle;
	/**background-color: #484848;**/
	background-color: transparent;
	overflow: hidden;
}

#DispositiviDiv {
	position: absolute;
	top: 10%;
	left: 2%;
	width: 96%;
	height: 30%;
}

#SepConsumo {
	position: absolute;
	top: 45%;
	left: 2%;
	width: 100%;
	height: 6%;
}

#SepConsumo1 {
	position: absolute;
	top: 50%;
	left: 5%;
	width: 33%;
	height: 2%;
	border-top: 1px solid #808080;
}

#TitoloSepConsumo {
	position: absolute;
	top: 30%;
	left: 38%;
	width: 20%;
	height: 100%;
	color: white;
	font-size: 0.9em;
	font-weight: bold;
}

#SepConsumo2 {
	position: absolute;
	top: 50%;
	left: 58%;
	width: 33%;
	height: 2%;
	border-top: 1px solid #808080;
}

#ConsumoDiv {
	position: absolute;
	top: 52%;
	left: 2%;
	width: 96%;
	height: 20%;
}

#SepLocazione {
	position: absolute;
	top: 70%;
	left: 2%;
	width: 100%;
	height: 6%;
}

#SeparLocazione1 {
	position: absolute;
	top: 75%;
	left: 5%;
	width: 33%;
	height: 1%;
	border-top: 1px solid #808080;
}

#TitoloSeparLocazione {
	position: absolute;
	top: 74%;
	left: 38%;
	width: 20%;
	height: 6%;
	color: white;
	font-size: 0.9em;
	font-weight: bold;
}

#SeparLocazione2 {
	position: absolute;
	top: 75%;
	left: 58%;
	width: 33%;
	height: 1%;
	border-top: 1px solid #808080;
}

#LocazioneDiv {
	position: absolute;
	top: 80%;
	left: 2%;
	width: 96%;
	height: 20%;
}

.DispElem,.DispImg {
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
}

.DispElem {
	z-index: 0;
}

.DispImg {
	z-index: 1;
}

.DispNome,.DispNomeDisconn {
	position: absolute;
	top: 4%;
	left: 0%;
	width: 100%;
	height: 10%;
	font-weight: bold;
	z-index: 2;
}

.DispNome {
	color: white;
}

.DispNomeDisconn {
	color: #6F6F6E;
}

.DispStatoAcceso,.DispStatoSpento,.DispStatoDisconn {
	position: absolute;
	top: 90%;
	left: 0%;
	width: 100%;
	height: 10%;
	font-size: 0.9em;
	font-weight: bold;
	z-index: 2;
}

.DispStatoAcceso {
	color: #9CC31C;
}

.DispStatoSpento {
	color: #6F6F6E;
}

.DispStatoDisconn {
	color: #333333;
}

.DispValueAcceso,.DispValueSpento,.DispValueDisconn,.DispLocazione {
	border-left: solid 1px #404040;
	border-right: solid 1px #404040;
}

.DispValueAcceso,.DispValueSpento {
	position: absolute;
	top: 10%;
	height: 50%;
	padding-top: 4%;
	font-size: 1.4em;
	font-weight: bold;
}

.DispValueAcceso {
	color: white;
}

.DispValueSpento {
	color: #656565;
}

.DispValueDisconn,.DispLocazione {
	position: absolute;
	top: 10%;
	height: 50%;
	padding-top: 4%;
}

.DispValueDisconn {
	color: #656565;
	font-size: 1.4em;
	font-weight: bold;
}

.DispLocazione {
	color: white;
	font-weight: normal;
}

#ElettrodomesticiVuoto {
	position: absolute;
	top: 40%;
	left: 0%;
	width: 100%;
	height: 20%;
	vertical-align: middle;
	color: #3a8848;
	font-size: 1.8em;
	font-weight: bold;
}

.DatiElettrodomestico{
	float:left;
	color:white;
	border-right: 1px solid gray;
    height: 100%;
	width: 16.5%;
    text-align : left;
}

.NomeElettrodomestico {
    color: white;
    font-size: 0.9em;
    text-align : center;
    position:relative;
    top: -78%;
}

.DatiElettrodomestico img{
	width : auto;
	height : 80%;
	display:block;
	margin-left : 15%;
	z-index : -1;
}

#ElettrodomesticiTitolo {
	font-size: 1.4em;
    font-weight: bold;
    color: white;
    margin-bottom : 3%;
    margin-top : 3%;
    width : 96%;
}
#Pulsanti{
	position:absolute;
	top:0px;
	padding-top:3%;
	font-size: 1.4em;
	width : 96%;
}

.TitoloConsumo{
	 color: white;
     font-size: 0.9em;
     font-weight: bold;
     padding-bottom: 1.5%;
     padding-top : 1.5%;
     width: 94.49%;
     border-top: 1px solid grey;
     border-bottom: 1px solid grey;
     margin-left: auto;
     margin-right: auto;
}

#RigaElettrodomestici{
	height: 30%;
	width: 95%;
	border-left: 1px solid gray;
}

.RigaDati{
	height : 10%;
	width: 95%;
	border-left: 1px solid gray;
}

.RigaDati .DatiElettrodomestico {
	text-align : center;
	font-size : 1.4em;
}

#ElettrodomesticiVuoto{
	width:100%;
	height:80%;
	display: none;
	position: absolute;
	top:10%;
	text-align: center;
	font-size : 1.5em;
	color : white;
	background-color: #333;
}

.StatoElettrodomestico{
	text-align : center;
}

#backDevices{
	float : left;
	line-height: 0.8em;
}

#nextDevices{
	float : right;
	line-height: 0.8em;
}