/* Titolo pagina */
#TitoloReport {
	position: absolute;
	width: 100%;
	left: 0px;
}

/* sfondo comune destra e sinistra */
.ReportBGND {
	position: absolute;
	top: 11%;
	width: 48%;
	height: 87%;
	background-color: transparent;
	border: 3px solid #abd037;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	-khtml-border-radius: 20px;
	border-radius: 20px;
}

/* Parte sinistra */
#TitoloEventiCasa,#TitoloElettrodomDettaglio {
	padding: 2%;
	font-size: 1em;
	color: #abd037;
}

#EventiCasa1 {
	height: 36%;
}

/* controllo l'altezza degli header dell'accordion */
.ui-accordion .ui-accordion-header {
	line-height: 1.3em;
}

/* Contenuto di ogni accordion */
#ReportDatiCasa table {
	table-layout: fixed;
	width: 100%;
	bottom: 0;
	height: 100%;
}
/* Elimino padding da content dell'accordion */
#ReportDatiCasa>div>div>div {
	padding: 0px;
}

.ui-accordion-content tr {
	font-size: 0.9em;
	height: 35%;
}

#ReportDatiCasa td {
	width: 33%;
	vertical-align: middle;
}

.headerAccordion {
	font-size: 0.9em;
}

.headerAccordion button {
	float: right;
	background-color: transparent !important;
	background-image: none !important;
	border: none;
	width: 3.5%;
	right: 5%;
}

.headerAccordion a {
	display: inline;
	color: black;
}

#Dati1 {
	margin-left: 3%;
	margin-right: 3%;
	width: auto;
	overflow: hidden
}

#Dati1 div {
	overflow: hidden;
}

#ReportInfo {
	background-color: white;
	padding: 1%;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	-khtml-border-radius: 20px;
	border-radius: 20px;
	width: 93%;
	position: absolute;
	height: 20%;
	margin: 0% 2% 0% 2%;
	border: 2px solid #abd037;
}

#elettrodomDetail {
	margin: 24% 2% 0% 2%;
	background-color: white;
	padding: 1%;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	-khtml-border-radius: 20px;
	border-radius: 20px;
	width: 93%;
	height: 62%;
	position: absolute;
	border: 2px solid #abd037;
}

table {
	border-collapse: collapse;
}

td img {
	max-width: 50px !important;
}

.secondo {
	border-top: 1px solid black;
	border-left: 1px solid black;
	border-right: 1px solid black;
}

.altro {
	border-top: 1px solid black;
}

#elettrodomDetail table {
	height: 90%;
	width: 100%;
}

#elettrodomDetail .green {
	color: green;
}

#elettrodomDetail img {
	max-height: 30%;
}

#title-text {
	font-weight: bold;
}

li {
	list-style-type: none;
	color: green;
	margin-top: 10%;
}

ul {
	padding: 0px;
}

.premuto {
	border: 2px solid red !important;
}

.selezionato {
	border: 2px solid green !important;
}

#TitoloEventiCasa span,#TitoloElettrodomDettaglio span {
	color: #abd037;
}