/*#TitoloElettrodomestici {
	position: absolute;
	top: 3%;
	left: 2%;
	width: 50%;
	height: 2em;
	text-align: left;
	vertical-align: middle;
	font-size: 1.4em;
	font-weight: bold;
	color: #f0f0f0;
} */

#ElettrVuotoBg {
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	color: #3a8848;
	font-size: 1.8em;
	font-weight: bold;
}

#ElettrodomesticiDiv {
	position: absolute;
	top: 10%;
	left: 2%;
	width: 98%;
	height: 90%;
	vertical-align: middle;
	/**background-color: #484848;**/
	background-color: transparent;
	overflow: hidden;
}


#DispositiviPresentiDiv {
	position: absolute;
	top: 10%;
	left: 0%;
	width: 100%;
	height: 85%;	
	background-color: transparent;
}

#Column1Div {
/*	width: 25%;
	float: left; */
	position: absolute;
	top: 10%;
	left: 0%;
	width: 25%;
	height: 85%;		
}
	
#Column2Div {
/*	width: 25%;
	float: left; */
	position: absolute;
	top: 10%;
	left: 25%;
	width: 25%;
	height: 85%;		
}
	
#Column3Div {
/*	width: 25%;
	float: left; */
	position: absolute;
	top: 10%;
	left: 50%;
	width: 25%;
	height: 85%;		
}
	
#Column4Div {
/*	width: 25%;
	float: left; */
	position: absolute;
	top: 10%;
	left: 75%;
	width: 25%;
	height: 85%;		
}
	

#ContatoreDiv {
	position: relative;
	top: 0%;
}

#CaldaiaDiv {
	position: relative;
	top: 0%;
}



#sensoreCO2Div {
	position: relative;
	top: 0%;
}

#sensoreFugaGasDiv {
	position: relative;
	top: 30%;
}

#sensoreCODiv {
	position: relative;
	top: 0%;
}

#termostatoDiv {
	position: relative;
	top: 30%;
}

.nomeDispositivi {
	font-size: 1.3em;
	/* font-weight: bold; */
	color: #FFFFFF;
}

#sensoreCO2Img {
	width: 30%;
	height: 30%;
}

#sensoreCOImg {
	width: 30%;
	height: 30%;
}

#sensoreFugaGasImg {
	width: 30%;
	height: 30%;
}

#termostatoImg {
	width: 30%;
	height: 30%;
}

.valDispositivi {
	font-size: 1.3em;
	/* font-weight: bold; */
	color: #FFFFFF;
}

.numericValue {
	font-size: 0.9em;
	/* font-weight: bold; */
	color: #9ec200;
}

/*
#sensoreCO2Div, sensoreFugaGasDiv, sensoreCODiv {
	position: absolute;
	width: 10%;
	height: 10%;	
}
*/

#DispositiviDiv {
	position: absolute;
	top: 10%;
	left: 2%;
	width: 96%;
	height: 30%;
}

#SepConsumo {
	position: absolute;
	top: 45%;
	left: 2%;
	width: 100%;
	height: 6%;
}

#SepConsumo1 {
	position: absolute;
	top: 50%;
	left: 5%;
	width: 33%;
	height: 2%;
	border-top: 1px solid #808080;
}

#TitoloSepConsumo {
	position: absolute;
	top: 30%;
	left: 38%;
	width: 20%;
	height: 100%;
	color: white;
	font-size: 0.9em;
	font-weight: bold;
}

#SepConsumo2 {
	position: absolute;
	top: 50%;
	left: 58%;
	width: 33%;
	height: 2%;
	border-top: 1px solid #808080;
}

#ConsumoDiv {
	position: absolute;
	top: 52%;
	left: 2%;
	width: 96%;
	height: 20%;
}

#SepLocazione {
	position: absolute;
	top: 70%;
	left: 2%;
	width: 100%;
	height: 6%;
}

#SeparLocazione1 {
	position: absolute;
	top: 75%;
	left: 5%;
	width: 33%;
	height: 1%;
	border-top: 1px solid #808080;
}

#TitoloSeparLocazione {
	position: absolute;
	top: 74%;
	left: 38%;
	width: 20%;
	height: 6%;
	color: white;
	font-size: 0.9em;
	font-weight: bold;
}

#SeparLocazione2 {
	position: absolute;
	top: 75%;
	left: 58%;
	width: 33%;
	height: 1%;
	border-top: 1px solid #808080;
}

#LocazioneDiv {
	position: absolute;
	top: 80%;
	left: 2%;
	width: 96%;
	height: 20%;
}

.DispElem,.DispImg {
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
}

.DispElem {
	z-index: 0;
}

.DispImg {
	z-index: 1;
}

.DispNome,.DispNomeDisconn {
	position: absolute;
	top: 4%;
	left: 0%;
	width: 100%;
	height: 10%;
	font-weight: bold;
	z-index: 2;
}

.DispNome {
	color: white;
}

.DispNomeDisconn {
	color: #6F6F6E;
}

.DispStatoAcceso,.DispStatoSpento,.DispStatoDisconn {
	position: absolute;
	top: 90%;
	left: 0%;
	width: 100%;
	height: 10%;
	font-size: 0.9em;
	font-weight: bold;
	z-index: 2;
}

.DispStatoAcceso {
	color: #9CC31C;
}

.DispStatoSpento {
	color: #6F6F6E;
}

.DispStatoDisconn {
	color: #333333;
}

.DispValueAcceso,.DispValueSpento,.DispValueDisconn,.DispLocazione {
	border-left: solid 1px #404040;
	border-right: solid 1px #404040;
}

.DispValueAcceso,.DispValueSpento {
	position: absolute;
	top: 10%;
	height: 50%;
	padding-top: 4%;
	font-size: 1.4em;
	font-weight: bold;
}

.DispValueAcceso {
	color: white;
}

.DispValueSpento {
	color: #656565;
}

.DispValueDisconn,.DispLocazione {
	position: absolute;
	top: 10%;
	height: 50%;
	padding-top: 4%;
}

.DispValueDisconn {
	color: #656565;
	font-size: 1.4em;
	font-weight: bold;
}

.DispLocazione {
	color: white;
	font-weight: normal;
}

#ElettrodomesticiVuoto {
	position: absolute;
	top: 40%;
	left: 0%;
	width: 100%;
	height: 20%;
	vertical-align: middle;
	color: #3a8848;
	font-size: 1.8em;
	font-weight: bold;
}