#CostiVuoto {
	position: absolute;
	top: 30%;
	left: 20%;
	width: 60%;
	height: 40%;
	vertical-align: middle;
	color: #f0f0f0;
	font-size: 1.4em;
	font-weight: bold;
}

#CostoSintesi,#ConsumoSintesi {
	position: absolute;
	top: 10%;
	left: 2%;
	width: 54%;
	height: 90%;
	background-color: transparent;
	/**
	background-color: white;
	border-radius: 16px;
	-webkit-border-radius: 16px;
	-moz-border-radius: 16px;
	behavior: url(border-radius.htc);
	**/
}

#CostoInfo, #ConsumoInfo {
	position: absolute;
	top: 10%;
	left: 57%;
	width: 40%;
	height: 90%;
	background-color: transparent;
	/**
	background-color: white;
	border-radius: 16px;
	-webkit-border-radius: 16px;
	-moz-border-radius: 16px;
	behavior: url(border-radius.htc);
	**/
}

/* #TitoloCosti,#TitoloConsumi {
	position: absolute;
	top: 3%;
	left: 2%;
	width: 50%;
	height: 8%;
	text-align: left;
	vertical-align: middle;
	font-size: 1.4em;
	font-weight: bold;
	color: white;
}*/


#CostoAttuale {
	position: absolute;
	top: 1%;
	left: 3%;
	width: 54%;
	height: 45%;
	border-bottom: 1px solid #FFD800;
}

#ConsumoAttuale, #ConsumoOdierno, #CostoPrevisto, #ConsumoPrevisto, #CostoAttualeTitolo, #CostoOdierno {
	left: 3%;
	width: 54%;
}

#ConsumoAttualeTitolo {
	position: absolute;
	top: 8%;
	width: 100%;
	height: 20%;
}

#ConsumoAttuale {
	position: absolute;
	top: 1%;
	height: 50%;
	border-bottom: 1px solid #0B0B96;
	overflow: hidden;
	text-align: middle;
	vertical-align: middle;
/*	font-size: 2.5em; */
	font-weight: bold;
}

#CostoAttualeEuro {
	position: absolute;
	top: 40%;
	left: 0%;
	width: 100%;
	text-align: middle;
	vertical-align: middle;
	font-size: 2.5em;
	font-weight: bold;
	background-color: transparent;
	z-index: 2;
}

.TitoloDettaglio {
	font-size: 1.1em;
	font-weight: bold;
}

#CostoAttualeTitolo {
	position: absolute;
	top: 4%;
	height: 10%;
}

#CostoAttualeImg {
	position: absolute;
	top: 20%;
	left: 25%;
	height: 50%;
	width: 50%;
}

#CostoOdierno {
	position: absolute;
	top: 46%;
	height: 35%;
	border-bottom: 1px solid #FFD800;
}

#ConsumoOdierno {
	position: absolute;
	top: 52%;
	height: 23%;
	border-bottom: 1px solid #0B0B96;
}

#ConsumoVerdeImg, #ConsumoGialloImg, #ConsumoRossoImg {
	width: 3%;
	heigth: 3%;
} 

#CostoPrevisto {
	position: absolute;
	top: 80%;
	height: 20%;
}

#ConsumoPrevisto {
	position: absolute;
	top: 76%;
	height: 23%;
}

#DettaglioCostoPrevisto
	{
	position: absolute;
	top: 20%;
	left: 0%;
	width: 100%;
	height: 60%;
	font-size: 120%;
	vertical-align: middle;
}

#DettaglioCostoPrevistoTitle
	{
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 60%;
	font-size: 100%;
	font-weight: bold;
	vertical-align: middle;
}

#DettaglioCostoPrevistoVal
	{
	position: absolute;
	top: 40%;
	left: 0%;
	width: 100%;
	height: 60%;
	font-size: 130%;
	font-weight: bold;
	vertical-align: middle;
}

#DettaglioConsumoPrevisto
	{
	position: absolute;
	top: 3%;
	left: 0%;
	width: 100%;
	height: 60%;
	font-size: 120%;
	vertical-align: middle;
}

#DettaglioCostoOdierno,#DettaglioConsumoOdierno {
	position: absolute;
	top: 3%;
	left: 0%;
	width: 100%;
	height: 100%;
	font-size: 120%;
	vertical-align: middle;	
}

#DettaglioCostoOdiernoAl {
	position: relative;
	top: 5%;	
	font-weight: bold;
}

#DettaglioCostoOdiernoHaiSpeso {
	position: relative;
	top: 5%;	
	font-weight: bold;
}

#DettaglioCostoOdiernoF1, #DettaglioCostoOdiernoF2, #DettaglioCostoOdiernoF3 {
	position: relative;
	top: 15%;
	font-size: 130%;
	font-weight: bold;
}

#DettConsOggiTitle, #DettConsPrevTitle {
	position: absolute;
	font-size: 100%;
	top: 10%;
	width: 100%;
	height: 100%;
	vertical-align: middle;
	font-weight: bold;
}

#DettConsOggiVal {
	position: relative;
	font-size: 130%;
	top: 40%;
	width: 100%;
	height: 100%;
	vertical-align: middle;
	font-weight: bold;
}

#DettConsPrevVal {
	position: relative;
	font-size: 130%;
	top: 60%;
	width: 100%;
	height: 100%;
	vertical-align: middle;
	font-weight: bold;
}

#ConsumoIndicatorePaddingLeft {
	position: absolute;
	top: 8%;
	left: 10%;
	width: 20%;
	height: 80%;
	border-left: 1px solid #0B0B96;
}

#CostoIndicatore,#ConsumoIndicatore {
	position: absolute;
	top: 10%;
	left: 58%;
	width: 40%;
	height: 90%;
}

#ConsumoIndicatoreImg, #CostoIndicatoreImg {
	position: absolute;
	top: 8%;
	left: 17%;
	width: 85px;
	height: 80%;
	
}

#IndicatoreCostiSotto,#IndicatoreConsumiSotto {
	z-index: 1;
}

#IndicatoreCostiBarra,#IndicatoreConsumiBarra {
	z-index: 2;
}

#IndicatoreCostiSopra,#IndicatoreConsumiSopra {
	z-index: 3;
}

#CostoIndicatoreTitolo,#ConsumoIndicatoreTitolo {
	position: absolute;
	top: 4%;
	left: 58%;
	width: 40%;
	height: 10%;
}

.IndicatoreTxt {
	font-size: 0.8em;
	font-weight: normal;
}

#IndicatoreSopra {
	position: absolute;
	top: 2%;
	left: 0%;
	width: 100%;
	height: 6%;
}

#IndicatoreMedia {
	position: absolute;
	top: 46%;
	left: 65%;
	width: 40%;
	height: 6%;
}

#IndicatoreSotto {
	position: absolute;
	top: 90%;
	left: 0%;
	width: 100%;
	height: 6%;
}

#CostoInfoTitolo,#ConsumoInfoTitolo {
	position: absolute;
	top: 4%;
	left: 2%;
	width: 96%;
	height: 10%;
	text-align : center;
}

#GraficoConsumoOdierno {
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 60%;
	margin: auto;
	vertical-align: middle;
}

#CostoSuddivisione {
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 60%;
	margin: auto;
	font-size: 0.9em;
	vertical-align: middle;
}

#SuddivisioneCostiLeft {
	float: left;
	text-align : left;
}

#SuddivisioneCostiRight {
	float: right;
	text-align : right;
}

/*
#CostoTariffa {
	position: absolute;
	top: 55%;
	left: 5%;
	width: 90%;
	height: 20%;
	vertical-align: middle;
	border-top: 1px solid #FFD800;
}
*/

#CostoTariffa {
	position: absolute;
	top: 75%;
	left: 5%;
	width: 90%;
	height: 20%;
	vertical-align: middle;
	border-top: 1px solid #FFD800;
}

#ConsumoMaggiore {
	position: absolute;
	top: 55%;
	left: 5%;
	width: 90%;
	height: 20%;
	vertical-align: middle;
	border-top: 1px solid #0B0B96;
}

#CostoTitoloTariffa,#ConsumoTitoloMaggiore {
	position: absolute;
	top: 9%;
	left: 0%;
	width: 100%;
	height: 8%;
	font-size: 0.9em;
	font-weight: bold;
}

#CostoSintesiBg,#CostoInfoBg,#ConsumoSintesiBg,#ConsumoInfoBg,#TariffaImg
	{
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
}

#DettaglioCosto {
	position: absolute;
	top: 72%;
	left: 0%;
	width: 100%;
	height: 28%;
	vertical-align: middle;
}

#DettaglioSuddivisioneCosti {
	position: absolute;
	top: 12%;
	left: 7%;
	width: 86%;
	height: 80%;
	vertical-align: middle;
	display: block;
}

#SuddivisioneCostiVuoto {
	position: absolute;
	top: 45%;
	left: 20%;
	width: 60%;
	height: 10%;
	font-size: 1.0em;
	font-weight: bold;
	text-align: center;
}
	
#DettaglioGraficoConsumoOdierno {
	position: absolute;
	top: 20%;
	left: 5%;
	width: 85%;
	height: 70%;
	vertical-align: middle;
}

#LabelKWH {
	position: absolute;
	top: 14%;
	left: 5%;
	width: 10%;
	height: 10%;
	font-size: 0.8em;
	font-weight: bold;
}

#LabelOra {
	position: absolute;
	top: 81%;
	left: 89%;
	width: 10%;
	height: 10%;
	font-size: 0.8em;
	font-weight: bold;
}

#TariffaPos {
	position: absolute;
	top: 35%;
	left: 5%;
	width: 3%;
	height: 40%;
	background-color: #666666;
	opacity: 0.4;
	filter: alpha(opacity = 40);
	z-index: 1;
}

#TariffaImgDiv {
	position: absolute;
	top: 40%;
	left: 5%;
	width: 90%;
	height: 30%;
}

#ConsumoSuggerimento {
	position: absolute;
	top: 75%;
	left: 5%;
	width: 90%;
	height: 23%;
	background-color: transparent;
	/**
	border-radius: 7px;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	background-color: #333333;
	behavior: url(border-radius.htc);
	**/
}

#CostoSuggerimento {
	position: absolute;
	top: 75%;
	left: 5%;
	width: 90%;
	height: 23%;
	background-color: transparent;

}

#SuggerimentoImg,#CostoFumettoImg,#ConsumoFumettoImg {
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
}

#CostoFumettoDiv,#ConsumoFumettoDiv {
	position: absolute;
	top: 8%;
	left: 5%;
	width: 10%;
	height: 20%;
}

#CostoTitoloSuggerimento {
	position: absolute;
	top: 10%;
	left: 20%;
	width: 80;
	height: 30%;
	color: #9EC200;
	font-size: 0.8em;
	font-weight: bold;
	vertical-align: middle;
}

#ConsumoTitoloSuggerimento {
	position: absolute;
	top: 10%;
	left: 5%;
	width: 80;
	height: 30%;
	color: #9EC200;
	font-size: 1.0em;
	font-weight: bold;
	vertical-align: middle;
}

#DettaglioSuggerimentiCosti,#DettaglioSuggerimentiConsumi {
	position: absolute;
	top: 35%;
	left: 5%;
	width: 90%;
	height: 30%;
	color: #ffffff;
	font-weight: normal;
	border-top: solid 1px #9EC200;
/*	overflow: scroll; */
}

#DettaglioConsumoMaggiore {
	position: absolute;
	top: 20%;
	left: 0%;
	width: 100%;
	height: 80%;
}

#TestoConsumoMaggiore {
	position: absolute;
	top: 30%;
	left: 50%;
	width: 50%;
	height: 30%;
	text-align: left;
	font-size: 0.9em;
	font-weight: bold;
}

#MsgConsumoMaggiore {
	position: absolute;
	top: 30%;
	left: 00%;
	width: 100%;
	height: 30%;
	text-align: center;
	font-size: 0.9em;
	font-weight: bold;
}

#ConsumoMaggioreImg {
	position: absolute;
	top: 10%;
	left: 30%;
	width: 80%;
	height: 80%;
}

#ConsumoAttualeMeter {
	position: relative;
	top: 25%;
	margin: auto;
	height: 60%;
}

#ConsumoAttualeMeter>img {
	position: absolute;
	width: 100%;
	top: 0px;
	left: 0px;
}

#DivTestoGauge {
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 100%;
	height: 20%;
}

#ValConsumoAttuale {
	position: absolute;
	top: 50%;
	left: 0%;
	vertical-align: bottom;
	font-weight: bold;
	font-size: 220%;
	width: 100%;
	height: 50%;
	background-color: transparent;
	z-index: 2; 

}

#TariffeFascieImgDiv {
	position: absolute;
	top: 90%;
	left: 0%;
	width: 100%;
	height: 10%;
}

#TariffeFascieImgVerdeDiv {
	position: absolute;
	top: 0%;
	left: 0%;
	width: 33%;
	height: 100%;
}

#TariffeFascieImgGiallaDiv {
	position: absolute;
	top: 0%;
	left: 33%;
	width: 33%;
	height: 100%;
}

#TariffeFascieImgRossaDiv {
	position: absolute;
	top: 0%;
	left: 66%;
	width: 33%;
	height: 100%;
}

#TariffeFascieVerde, #TariffeFascieGialla, #TariffeFascieRossa  {
	position: absolute;
	left: 10%;
	font-size: 0.8em;
	float: right;
}

#TariffeFascieImgVerde, #TariffeFascieImgGialla, #TariffeFascieImgRossa {
	position: absolute;
	left: 0%;
	width: 7%;
	height: 100%;
	float: left;
}
