body {
	width: 100%;
	background-color: #202020;
	overflow: auto;
	font-family: Arial, Arial, sans-serif;
	text-align: center;
	font-size: 100%;
}

img {
	-ms-interpolation-mode: bicubic;
}


#Header {
	position: absolute;
	left: 2%;
	top: 0%;
	right: 2%;
	height: 10%;
}

#HeaderLine {
	position: absolute;
	left: 2%;
	right: 2%;
	top: 10%;
	height: 5px;
}

#ContentGasMain {
	position: absolute;
	top: 16%;
	left: 2%;
	right: 2%;
	height: 84%;
}
#TelecomLogoImg {
	position: absolute;
	height: 85%;
	right: 0%;
	bottom: 1px;
}

#HeaderLineImg {
	position: absolute;
	height: 100%;
	left: 0px;
	width: 100%;
}

#Titolo {
	color: #ffffff;
	font-size: 450%;
}

#el_link {
	color: #35c01d;
}
#gas_link {
	color: #f5c015;
}

#ElettricitaDiv {
	position: absolute;
	top: 50%;
	left: 2%;
	height: 40%;
	width: 33%;
	
	font-size: 350%;
	text-align: center;
}

#GasDiv {
	position: absolute;
	top: 50%;
	left: 34%;
	height: 40%;
	width: 33%;
	font-size: 350%;
	text-align: center;
}

#AcquaDiv {
	position: absolute;
	top: 50%;
	left: 68%;
	height: 40%;
	width: 33%;
	color: #3ddcfa;
	font-size: 350%;
	text-align: center;
}

#ElettricitaVal, #GasVal, #AcquaVal {
	position: relative;
	top: 15%;
	color: #ffffff;
	font-size: 0.95em;
}

#ElettricitaDida, #GasDida, #AcquaDida {
	position: relative;
	top: 20%;
	color: #ffffff;
	font-size: 0.5em;
}