.ContentTitle {
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 10%;
	font-size: 1.2em;
	font-weight: bold;
	color: #ABD037;
	vertical-align: middle;
}

#ContenutoCosti,#ContenutoConsumi {
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
}

#TitoloCosti,#TitoloConsumi {
	position: absolute;
	top: 2%;
	left: 0%;
	width: 100%;
	height: 8%;
	valign: middle;
	background-color: transparent;
	font-size: 1.6em;
	font-weight: bold;
}

.TitoloDivCostiConsumi {
	position: absolute;
	top: 7%;
	left: 0%;
	width: 100%;
	height: 8%;
	color: #3a8848;
	background-color: transparent;
	font-size: 1.0em;
	font-weight: bold;
	vertical-align: middle;
	z-index: 2;
}

.TitoloDivCosti {
	position: absolute;
	top: 8%;
	left: 0%;
	width: 100%;
	height: 8%;
	color: #f08000;
	background-color: transparent;
	font-size: 1.0em;
	font-weight: bold;
	vertical-align: middle;
	z-index: 2;
}

.TitoloDivConsumi {
	position: absolute;
	top: 8%;
	left: 0%;
	width: 100%;
	height: 8%;
	color: #4040ff;
	background-color: transparent;
	font-size: 1.0em;
	font-weight: bold;
	vertical-align: middle;
	z-index: 2;
}

#ContenutoCosti,#ContenutoConsumi {
	position: absolute;
	top: 12%;
	left: 0%;
	width: 100%;
	height: 82%;
	font-size: 1.2em;
	vertical-align: middle;
	background-color: transparent;
}

#Costi,#Consumi {
	position: absolute;
	top: 2%;
	left: 2%;
	width: 40%;
	height: 96%;
	vertical-align: middle;
	background-color: transparent;
}

#IndicatoreCosti,#IndicatoreConsumi {
	position: absolute;
	top: 2%;
	left: 44%;
	width: 12%;
	height: 96%;
	vertical-align: middle;
	background-color: transparent;
}

#InfoCosti,#InfoConsumi {
	position: absolute;
	top: 2%;
	left: 60%;
	width: 40%;
	height: 96%;
	vertical-align: middle;
	background-color: transparent;
}

#CostoSintesi,#ConsumoSintesi {
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 60%;
	vertical-align: middle;
	background-color: transparent;
}

#CostoImgBackground,#ConsumoImgBackground {
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
}

#CostoImg,#ConsumoImg {
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
}

#DettaglioCosto,#DettaglioConsumo {
	position: absolute;
	top: 80%;
	left: 0%;
	width: 100%;
	height: 20%;
	vertical-align: middle;
	background-color: transparent;
}

#CostoOdierno,#ConsumoOdierno {
	position: absolute;
	top: 60%;
	left: 0%;
	width: 100%;
	height: 20%;
	margin: auto;
	vertical-align: middle;
	background-color: transparent;
}

#CostoOdiernoBackground,#ConsumoOdiernoBackground {
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
}

#DettaglioCostoOdierno,#DettaglioConsumoOdierno {
	position: absolute;
	top: 40%;
	left: 0%;
	width: 100%;
	height: 40%;
	color: black;
	background-color: transparent;
	vertical-align: middle;
}

#CostoMensile,#ConsumoMensile {
	position: absolute;
	top: 80%;
	left: 0%;
	width: 100%;
	height: 20%;
	margin: auto;
	vertical-align: middle;
	background-color: transparent;
}

#CostoMensileBackground,#ConsumoMensileBackground {
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
}

#DettaglioCostoMensile,#DettaglioConsumoMensile {
	position: absolute;
	top: 30%;
	left: 0%;
	width: 100%;
	height: 40%;
	color: black;
	background-color: transparent;
	vertical-align: middle;
}

#IndicatoreCostiBackground,#IndicatoreConsumiBackground,#TariffaBackground,#ConsumoMaggioreBackground,#SuggerimentiCostiBackground,#SuggerimentiConsumiBackground
	{
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
}

#TitoloIndicatoreCosti {
	position: absolute;
	top: 2%;
	left: 0%;
	width: 100%;
	height: 8%;
	color: #ABD037;
	font-size: 1.0em;
}

#TitoloIndicatoreConsumi {
	position: absolute;
	top: 2%;
	left: 0%;
	width: 100%;
	height: 8%;
	color: #ABD037;
	font-size: 1.0em;
}

#IndicatoreCostiDiv,#IndicatoreConsumiDiv {
	position: absolute;
	top: 11%;
	left: 0%;
	width: 100%;
	height: 90%;
}

#IndicatoreCostiBarra,#IndicatoreConsumiBarra {
	position: absolute;
	bottom: 7%;
	left: 28%;
	width: 47%;
	height: 43%;
}

#SuddivisioneCosti,#GraficoConsumoOdierno {
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 65%;
	margin: auto;
	vertical-align: middle;
	background-color: transparent;
}

#SuddivisioneCostiBackground,#GraficoConsumoOdiernoBackground {
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
}

#DettaglioSuddivisioneCosti {
	position: absolute;
	top: 15%;
	left: 0%;
	width: 98%;
	height: 85%;
	color: black;
	background-color: transparent;
	vertical-align: middle;
}

#DettaglioGraficoConsumoOdierno {
	position: absolute;
	top: 15%;
	left: 5%;
	width: 90%;
	height: 85%;
	color: black;
	background-color: transparent;
	vertical-align: middle;
}

#Tariffa,#ConsumoMaggiore {
	position: absolute;
	top: 60%;
	left: 0%;
	width: 100%;
	height: 20%;
	vertical-align: middle;
	background-color: transparent;
}

#DettaglioTariffa {
	position: absolute;
	top: 28%;
	left: 0%;
	width: 100%;
	height: 70%;
	vertical-align: middle;
	background-color: transparent;
}

#TariffaImg {
	position: absolute;
	top: 50%;
	left: 10%;
	width: 80%;
	height: 50%;
}

#DettaglioTariffaCheck {
	position: absolute;
	top: 10%;
	left: 10%;
	width: 80%;
	height: 25%;
}

#DettaglioConsumoMaggiore {
	position: absolute;
	top: 20%;
	left: 0%;
	width: 100%;
	height: 80%;
}

#TestoConsumoMaggiore {
	position: absolute;
	top: 30%;
	left: 40%;
	width: 40%;
	height: 30%;
}

#ConsumoMaggioreImg {
	position: absolute;
	top: 25%;
	left: 20%;
	width: 30%;
	height: 70%;
}

#SuggerimentiCosti,#SuggerimentiConsumi {
	position: absolute;
	top: 80%;
	left: 0%;
	width: 100%;
	height: 20%;
	margin: auto;
	vertical-align: middle;
	background-color: transparent;
	font-size: 1.0em;
}

#DettaglioSuggerimentiCosti,#DettaglioSuggerimentiConsumi {
	position: absolute;
	top: 50%;
	left: 0%;
	width: 100%;
	height: 50%;
	color: black;
	background-color: transparent;
	vertical-align: middle;
}

#NomeTariffaPrincipale {
	padding: 2%;
	border: solid 2px transparent;
	border-radius: 4px;
	-moz-border-radius: 4px; /* firefox */
	-webkit-border-radius: 4px; /* safari, chrome */
}

#ConsumoOdiernoImg {
	position: absolute;
	top: 5%;
	left: 0%;
	width: 100%;
	height: 100%;
}

#PowerMeterImg {
	position: absolute;
	z-index: 1;
}

#PowerMeterArrow {
	position: absolute;
	z-index: 2;
}

#PowerMeterCenter {
	position: absolute;
	z-index: 3;
}

#ValConsumoAttuale {
	position: absolute;
	top: 80%;
	left: 20%;
	width: 60%;
	height: 10%;
	z-index: 4;
	font-size: 1.2em;
	font-weight: bold;
	color: black;
	text-align: center;
}