#TitoloElettrodomestici {
	position: absolute;
	top: 2%;
	left: 0%;
	width: 100%;
	height: 10%;
	vertical-align: middle;
	font-size: 1.6em;
	font-weight: bold;
	color: #ABD037;
}

#ElettrodomesticiDiv {
	position: absolute;
	top: 15%;
	left: 2%;
	width: 98%;
	height: 82%;
	vertical-align: middle;
	overflow: hidden;
}

#TabellaElettrodomestici {
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	vertical-align: middle;
	overflow: hidden;
}

#IconaDisp {
	position: absolute;
	top: 0%;
	left: 1%;
	width: 98%;
	height: 24%;
	vertical-align: middle;
}

.BgIconaStato {
	position: absolute;
	top: 0%;
	z-index: 1;
}

.IconaDispImg {
	position: absolute;
	top: 20%;
	z-index: 2;
}

#NomeDisp {
	position: absolute;
	top: 25%;
	left: 1%;
	width: 98%;
	height: 8%;
	valign: middle;
}

.NomeDispTd {
	valign: middle;
	font-size: 1.0em;
	color: #e0e0e0;
}

#StatoDisp {
	position: absolute;
	top: 33%;
	left: 1%;
	width: 98%;
	height: 10%;
	valign: middle;
}

.StatoDispTd {
	vertical-align: middle;
	font-size: 1.2em;
}

.StatoDispOn {
	border: solid 2px white;
	color: #00e000;
	padding: 4%;
	font-size: 0.7em;
	border-radius: 6px;
	-moz-border-radius: 6px; /* firefox */
	-webkit-border-radius: 6px; /* safari, chrome */
}

.StatoDispOff {
	border: solid 2px white;
	color: #e00000;
	font-size: 0.7em;
	padding: 4%;
	border-radius: 6px;
	-moz-border-radius: 6px; /* firefox */
	-webkit-border-radius: 6px; /* safari, chrome */
}

.StatoDispDiscon {
	border: solid 2px white;
	color: #e0e0e0;
	font-size: 0.7em;
	padding: 4%;
	border-radius: 6px;
	-moz-border-radius: 6px; /* firefox */
	-webkit-border-radius: 6px; /* safari, chrome */
}

#TitoloLocazione {
	position: absolute;
	top: 42%;
	left: 1%;
	width: 98%;
	height: 8%;
	color: #ABD037;
}

#Locazione {
	position: absolute;
	top: 48%;
	left: 1%;
	width: 98%;
	height: 9%;
}

.LocazioneDiv {
	vertical-align: middle;
	font-size: 1.0em;
	color: #e0e0e0;
	padding-top: 3%;
	background-color: #404040;
	border-radius: 6px;
	-moz-border-radius: 6px; /* firefox */
	-webkit-border-radius: 6px; /* safari, chrome */
}

#TitoloConsumoDisp {
	position: absolute;
	top: 67%;
	left: 1%;
	width: 98%;
	height: 8%;
	color: #ABD037;
}

#ConsumoDisp {
	position: absolute;
	top: 75%;
	left: 1%;
	width: 98%;
	height: 9%;
}

.ConsumoDispDiv {
	vertical-align: middle;
	font-size: 1.4em;
	color: #ABD037;
	padding-top: 3%;
	background-color: #404040;
	border-radius: 6px;
	-moz-border-radius: 6px; /* firefox */
	-webkit-border-radius: 6px; /* safari, chrome */
}

#ElettrodomesticiVuoto {
	position: absolute;
	top: 40%;
	left: 0%;
	width: 100%;
	height: 20%;
	vertical-align: middle;
	color: #3a8848;
	font-size: 1.8em;
	font-weight: bold;
}