* {
	margin: 0;
	padding: 0;
	background-color: transparent;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 18px;
}

body {
	width:100%;
	background-color:#202020;
	overflow: auto;
}


.visibleDiv {
	display:inline;
}

.invisibleDiv {
	display:none;
}

#Header {
	position: absolute;
	left: 0%;
	top: 0%;
	width: 100%;
	height: 10%;
	overflow: hidden;
	background-color: transparent;
	/* background-image:url('../Resources/Images/top_page_1.png');
	background-repeat:no-repeat;*/
}

#HeaderDIV {
	position: absolute;
	left: 0%;
	top: 0%;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background-color: transparent;
	z-index: 0;
}

#TitlePageDIV {
	position: absolute;
	left: 0%;
	top: 0%;
	width: 30%;
	height: 100%;
	overflow: hidden;
	text-align:center;
      background-color:transparent;
	
}

#BannerPageDIV {
	position: absolute;
	left: 45%;
	top: 0%;
	width: 25%;
	height: 100%;
	overflow: hidden;
	text-align:center;
	background-color: transparent;
}

#SponsorPageDIV {
	position: absolute;
	left: 70%;
	top: 0%;
	width: 30%;
	height: 100%;
	overflow: hidden;
	text-align:center;
      background-color:transparent;
}

#AlarmDIV {
	position: absolute;
	left: 30%;
	top: 0%;
	width: 20%;
	height: 100%;
	overflow: hidden;
	text-align:center;
	background-color: transparent;
}


#MainMenu {
	position: absolute;
	left: 0%;
	top: 10%;
	width: 12%;
	height: 80%;
	background-color: transparent;
	overflow: hidden;
}


#ContentMenu {
	position: absolute;
	left: 0%;
	top: 88%;
	width: 100%;
	height: 12%;
	/* background-color: #404040; */
	background-color:#202020;
	overflow: hidden;
	text-align: center;
}

#Content {
	position: absolute;
	left: 12%;
	top: 10%;
	width: 88%;
	height: 78%;
	background-color: #202020;
	text-align: center;
	overflow: hidden;
}


#NonDisponibile {
	position: absolute;
	top: 30%;
	left: 10%;
	width: 80%;
	height: 70%;
	background-color: #202020;
	color: #abd037;
	font-size:2.0em;
	text-align: center;
	vertical-align: middle;
	overflow: hidden;
}

#OraData {
	position: absolute;
	top: 12%;
    	right: 2%;
    	width: 20%;
	height: 4%;
    	text-align:center;
	valign: middle;
	font-size: 1.2em;
	color:#ABD037;
	z-index:3;
}



