.TrialTitolo {
	position: absolute;
	top: 10%;
    	left: 0%;
    	width: 100%;
	height: 10%;
    	text-align:center;
	font-size: 1.4em;
	font-weight : bold;
	color: #ABD037;
	vertical-align: middle;
      background-color:transparent;
}


#TariffaTrial, #Informazioni, #Contatti, #Questionari{
	position: absolute;
	top: 0%;
    	left: 0%;
    	width: 100%;
	height: 100%;
	font-size: 1.4em;
}

#TariffaTrialImg {
	position: absolute;
	top: 25%;
    	left: 10%;
    	width: 45%;
	height: 70%;
	background-color: transparent;
}

#TariffaTrialBackground {
	position: absolute;
	top: 0%;
    	left: 0%;
    	width: 100%;
	height: 100%;
}

#TariffaImg1 {
	position: absolute;
	top: 20%;
    	left: 5%;
    	width: 90%;
	height: 30%;
	background-color: transparent;
}

#TariffaImg2 {
	position: absolute;
	top: 60%;
    	left: 5%;
    	width: 90%;
	height: 30%;
	background-color: transparent;
}

.TitoloImgTariffa {
	position: absolute;
	top: 5%;
    	left: 0%;
    	width: 100%;
	height: 20%;
	text-align:center;
	vertical-align: middle;
	background-color: transparent;
	color: black;
	font-size:1.2em;
	font-weight:bold;
}

.ImgTariffaTrial {
	position: absolute;
	top: 30%;
    	left: 5%;
    	width: 90%;
	height: 20%;
	text-align:center;
}

#TariffaLegenda {
	position: absolute;
	top: 25%;
    	left: 65%;
    	width: 30%;
	height: 70%;
}

#LegendaTrialBackground {
	position: absolute;
	top: 0%;
    	left: 0%;
    	width: 100%;
	height: 100%;
}

#LegendaTariffa1 {
	position: absolute;
	top: 20%;
    	left: 20%;
    	width: 80%;
	height: 20%;
	text-align:left;
	background-color: transparent;
	color: #009966;
	font-size:1.2em;
	font-weight:bold;
}

#ColoreTariffa1 {
	position: absolute;
	top: 20%;
    	left: 5%;
    	width: 10%;
}

#LegendaTariffa2 {
	position: absolute;
	top: 45%;
    	left: 20%;
    	width: 80%;
	height: 20%;
	text-align:left;
	background-color: transparent;
	color: #ffcc00;
	font-size:1.2em;
	font-weight:bold;
}

#ColoreTariffa2 {
	position: absolute;
	top: 45%;
    	left: 5%;
    	width: 10%;
}

#LegendaTariffa3 {
	position: absolute;
	top: 70%;
    	left: 20%;
    	width: 80%;
	height: 20%;
	text-align:left;
	background-color: transparent;
	color: #ff0000;
	font-size:1.2em;
	font-weight:bold;
}

#ColoreTariffa3 {
	position: absolute;
	top: 70%;
    	left: 5%;
    	width: 10%;
}

#InformazioniTesto {
	position: absolute;
	top: 25%;
    	left: 20%;
    	width: 60%;
	height: 80%;
	text-align:justify;
	background-color: transparent;
	color: #e0e0e0;
	font-size:1.0em;
}

#ContattiTel {
	position: absolute;
	top: 25%;
    	left: 30%;
    	width: 70%;
	height: 20%;
	text-align:left;
	vertical-align: middle;
	background-color: transparent;
	color: #e0e0e0;
	font-size:1.2em;
}

#ContattiFax {
	position: absolute;
	top: 50%;
    	left: 30%;
    	width: 70%;
	height: 20%;
	text-align:left;
	vertical-align: middle;
	background-color: transparent;
	color: #e0e0e0;
	font-size:1.2em;
}

#ContattiMail {
	position: absolute;
	top: 75%;
    	left: 30%;
    	width: 70%;
	height: 20%;
	text-align:left;
	vertical-align: middle;
	background-color: transparent;
	color: #e0e0e0;
	font-size:1.2em;
}

.ContattiP {
	color:#ABD037;
	font-size:1.2em;
}

#QuestionariRef {
	position: absolute;
	top: 40%;
    	left: 10%;
    	width: 80%;
	height: 20%;
	text-align:center;
	vertical-align: middle;
	background-color: transparent;
	color: #e0e0e0;
	font-size:1.4em;
}

#CostoImg, #ConsumoImg {
	position: absolute;
	top: 0%;
    	left: 0%;
    	width: 100%;
	height: 100%;
	font-size:1.2em;
}

