
.MainMenuImg {
	background-color: transparent;
	width: 40px;
	height: 40px;

}

.MainMenuTitle {
	background-color: transparent;
	text-align: center;
	font-size: 0.9em;
	font-weight: bold;
	vertical-align: middle;
	padding-top:2px;
}

.ContentMenuTitle {
	background-color: transparent;
	text-align: center;
	font-size: 0.8em;
	font-weight: bold;
	vertical-align: middle;
}

.ContentMenuImg {
	background-color: transparent;
	padding-top:2%;
	width: 40px;
	height: 40px;
}

