#progress {
	position: absolute;
    z-index: 100;
    top: 0px;
    bottom: 0px;
  	padding-top: 25%;
  	width: 100%;
  	height: 100%; 
}

#progressElettro {
	position: absolute;
    z-index: 100;
    top: 40%;
    left: 45%;
  	padding-top: 5%;
  	padding-bottom: 3%;
  	width: 15%;
  	height: 10%;
}

.boxProgress {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
	background: rgba(0,0,0,0.6);
	font-family: Helvetica;
    color: white;
    font-size: 18px;
    font-weight: bold;
    height: 80px;
    left: 0px;
    right: 0px;
    line-height: 80px;
    text-align: center;
    width: 200px;
}

.boxProgressElettro {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
	background: rgba(0,0,0,0.6);
	font-family: Helvetica;
    color: white;
    font-size: 18px;
    font-weight: bold;
    height: 80px;
    left: 0px;
    right: 0px;
    line-height: 80px;
    text-align: center;
    width: 200px;
}

.boxProgress img {
	margin-top: 10px;
}

.imageProgress {
	-webkit-border-radius: 10px;
    -moz-border-radius: 10px;
  	background:  url('ajax-loader.gif') top left no-repeat;
	/* background-image: rgba(255,255,255,.3) url('ajax-loader.gif') top left no-repeat; */
    left: 0px;
    right: 0px;
    line-height: 80px;
    text-align: center;
    width: 58px;
    height: 60px;
}